/*GENERAL*/

body {
    /*text-align: center;*/
    padding-top: 250px;
    background: #F2F2F2;
    color: #020202;
    font-family: 'Open Sans', 'Quicksand', Arial, sans-serif;
    font-size: 14px;
    line-height: 17px;
    justify-content: space-between;
}

/*@font-face {
    font-family: "GothamRnd";
    src: url("font/GothamRnd-Bold.otf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "GothamRnd";
    src: url("font/GothamRnd-BoldIta.otf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "GothamRnd";
    src: url("font/GothamRnd-Book.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GothamRnd";
    src: url("font/GothamRnd-BookIta.otf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "GothamRnd";
    src: url("font/GothamRnd-Light.otf") format("truetype");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "GothamRnd";
    src: url("font/GothamRnd-MedItal.otf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "GothamRnd";
    src: url("font/GothamRounded-LightItalic.otf") format("truetype");
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: "GothamRnd";
    src: url("font/GothamRounded-Medium.otf") format("truetype");
    font-weight: bold;
    font-style: normal;
}*/

h1 {
  font-size: 17px;
  font-weight: 800;
  text-transform: uppercase;
}

h2 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 18px;
  text-align: center;
  padding-bottom: 7px;
}

h3 {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 20px;
}

h4 {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 15px;
  font-weight: 800;
}

h5 {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 15px;
}

.grey-letters {
  color: #585858;
  font-weight: 100;
}

.grey-letters-light {
  color: #777776;
  font-size: 16px;
}

.clear {
  clear: both;
}

.float-right {
  float: right;
}

.padding_top {
  padding-top: 16px;
  display: block;
}

.padding_right {
  padding-right: 4px !important;
  padding-left: 7px !important;
}

.padding_bottom {
  padding-bottom: 30px;
}

.container-fluid {
  margin: 0;
  padding: 0px;
}

.wrapper {
  margin-top: 25px;
}

.min {
  font-size: 15px;
  font-weight: normal;
  text-transform: none;
  color: #585858;
}

.italicized {
  font-weight: lighter;
  font-style: italic;
}

.block-content {
  margin: 25px 0;
}

.block {
  display: block;
}


/*NAVBAR*/

.selected a {
  color: #0251FB !important;
}

.language-switcher {
	color: black;
	text-transform: uppercase;
	text-decoration: none;
	position: absolute;
	right: 50px;
	top: 5px;
	font-size: 14px;
	font-weight: bold;
  line-height: 3;
  margin-right: 0;
  padding-right: 0;
}

.language:hover {
  text-decoration: underline !important;
}

.nav {
  background-color: white;
	text-align: center;
	color: black;
	text-transform: uppercase;
	font-weight: bold;
  font-size: 13px;
}

.navbar {
  font-weight: bold;
  font-size: 12px;;
  background-color: white;
  text-align: center;
  padding-bottom: 20px;
  margin-top: 18px;
}

#menu-home, #menu-method, #menu-mesure, #menu-products, #menu-blog, #menu-faq, #menu-contact, #menu-wallet {
    text-transform: uppercase;
}

.navbar a {
  color: black;
  font-weight: bold;
}


.navbar-fixed-top {
  margin-top: 0;
}

.nav a {
  color: black;
  font-size: 12px;
}
.navbar li {
	padding: 15px;
}

ul>li>a:hover {
	color: #0251FB !important;
	background-color: white !important;
  text-decoration: none !important;
}

#socials {
  display: block;
  transform: translateY(-20px);
}

.auth {
  display: inline-block;
}

.zone-transit {
  display: inline-flex;
  transform: translateY(-31px);
}


.logo {
	padding-top: 15px;
}

.zone-transit input.btn.btn-default {
  border-radius: 0;
  border: 2px solid black;
  margin: 5px 4px;
  text-transform: uppercase;
  padding: 3px 7px;
  font-size: 12px;
}

.slider_jquery {
	position: absolute;
	left: 0;
	right: 0;
}

.slider {
	background: black;
	color: white;
	font-size: 18px;
	line-height: 60px;
	padding: 0px 0;
  height: 55px;
  display: none;
}

/*SECTION PRODUCT*/

.img-bell {
  width: 55px;
  height: 55px;
}
.products {
  background-color: #F2F2F2;
}

#translate-p {
  transition: translateY(-50px);
}

.products-title {
  font-weight: bold;
  color: black !important;
}

.prod-list {
  background-color: white;
  text-transform: uppercase;
  display: block;
  margin-top: 15px;
  height: 31px;
  font-size: 16px;
  padding-top: 2px;
}

.margin {
  margin-left: 8px;
  vertical-align: -webkit-baseline-middle;
}

/*Accordion*/


#headingSix, #headingSeven, #headingEight {
  display: none;
}
/*long*/
#heading2Six, #heading2Seven, #heading2Eight {
  display: none;
}

.panel a {
  text-decoration: none;
}


.panel {
  border: none !important;
}

.panel-group .panel {
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 0 !important;
}


a,
a:hover,
a:active,
.accordion-title a:focus {
  color: color: #585858 !important;
  text-decoration: none !important;
}
.panel-heading:hover,
.panel-heading:focus,
.panel-heading:hover a,
.panel-heading:focus a {
  color: #585858;
  font-weight: 100;
  text-decoration: none !important;
}

.panel.panel-default {
  background-color: #F2F2F2;
}

a.panel-heading {
    margin: 0;
    padding: 0;
}

.panel-body {
  margin: -4px;
  padding: 0;
  background-color: #F2F2F2 !important;
}

#wallet-trash {
  position: absolute;
  top: -31px;
  right: -11px;
}

#accor-product {
  width: 102px;
  height: 133px;
  margin-bottom: 25px;
}

.product {
  width: 102px;
  height: 133px;
  margin-bottom: 25px;
}

.activestate {
  /*font-weight: bold !important;
  color: black !important;*/
  display: block;
}
.activestate h4 {
  margin-bottom: 4px;
}

.activestate:hover a {
  color: black;
  font-weight: 700;
}
.panel-heading {
  display: block
}

.light-blue {
  color: blue;
  text-transform: uppercase;
  font-size: 14px;
}

.bold-blue {
  font-weight: bold;
  font-size: 16px;
  color: blue;
}

.product-accor-title {
  padding-left: 9px;
}

.prod-accor-row {
  margin-left: -4px;
}

.grey-uppercase {
  text-transform: uppercase;
}

.display-b {
  display: block;
}

/*Hover*/

.sous-container {
  position: relative;
}

.over {
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  border: 0;
  text-decoration: none;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.more-product-1 {
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
  border: 0;
  text-decoration: none;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.more-product-2 {
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#more-product-1 {
  position: absolute;
  top: 68px;
  left: 206px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#more-product-2 {
  position: absolute;
  left: 43%;
  top: 33%;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.over:hover {
  opacity: 0.92;
}

.over-product {
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  border: 0;
  text-decoration: none;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.over-product:hover {
  opacity: 0.92;
}

.more-product-1:hover, .more-product-2:hover  {
  opacity: 0.92;
}

.over-blue {
  display: block;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  background-color: blue;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  border: 0;
  text-decoration: none;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.over-blue:hover {
  opacity: 0.92;
}

.more {
  display: block;
  background: rgba(255, 255, 255, 0.92);
  padding: 9px 25px;
  color: white;
  font-size: 19px;
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 1;
  margin: -20px 0 0 -88px;
  transition: all 0.4s ease;
}

.more:hover {
  opacity: 0.92;
}

.more-product {
  display: block;
  position: absolute;
  left: 42%;
  top: 31%;
  width: 70px;
  height: 70px;
  cursor: auto;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.more-product-sm {
  display: block;
  background: rgba(255, 255, 255, 0.92);
  padding: 9px 25px;
  color: white;
  font-size: 19px;
  position: absolute;
  left: 62%;
  top: 39%;
  opacity: 1;
  margin: -20px 0 0 -88px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}


.more-3 {
  display: block;
  position: absolute;
  left: 36%;
  top: 41%;
  width: 70px;
  height: 70px;
  cursor: auto;
  opacity: 1;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#more-figure-month {
  display: block;
  position: absolute;
  left: 29%;
  top: 29%;
  width: 70px;
  height: 70px;
  cursor: auto;
  opacity: 1;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#more-eavest-block {
  display: block;
  position: absolute;
  left: 35%;
  top: 29%;
  width: 70px;
  height: 70px;
  cursor: auto;
  opacity: 1;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#more-our-agrement {
  display: block;
  position: absolute;
  left: 41%;
  top: 29%;
  width: 70px;
  height: 70px;
  cursor: auto;
  opacity: 1;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#more-partner {
  display: block;
  position: absolute;
  left: 36%;
  top: 29%;
  width: 70px;
  height: 70px;
  cursor: auto;
  opacity: 1;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#more-values, #more-methodologie {
  display: block;
  position: absolute;
  left: 42%;
  top: 29%;
  width: 70px;
  height: 70px;
  cursor: auto;
  opacity: 1;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#more-team  {
  display: block;
  position: absolute;
  left: 45%;
  top: 37%;
  width: 70px;
  height: 70px;
  cursor: auto;
  opacity: 1;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.more-blue {
  text-transform: uppercase;
  background: rgba(0, 0, 255, 0.92);
  padding: 9px 25px;
  color: white;
  border: 3px solid white;
  font-size: 19px;
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0.92;
  margin: -20px 0 0 -88px;
  transition: all 0.4s ease;
}

.more-blue:hover {
  color: blue;
  background-color: white;
  opacity: 1;
}

#figure-month-title {
  padding-bottom: 30px;
}

/*end hover*/

/*SEARCH-PRODUCT*/

.black-block{
  background-color: black;
  color: white;
  margin-bottom: 0;
  padding-bottom: 40px;
  padding-top: 40px;
}

#black-block {
  padding-left: 0;
  padding-right: 0
}

.search {
  background-color: white;
  font-size: 14px;
  text-align: center;
  padding: 40px 15px 39px 15px;
}

.search-bar {
  height: 48px;
  border: solid 2px #0251FB;
  margin-top: 15px;
}

input[type=search] {
  border: solid 1px white;
  border-right: none;
  height: 37px;
  margin-bottom: 15px;
  margin-top: 15px;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 55%;
  right: 70px;
  transform: translateY(2px);
}

.search p {
  margin: 0;
}

.fa-search {
  color: #0251FB;
  border-left: none;
  margin-top: -3px;
  height: 37px;
  padding-right: 5px;
  transform: translateX(-3px);
  padding: 3px;
  position: absolute;
  right: 36px;
}

.numbers {
  padding-left: 5px;
}

.square-1 {
  border: solid 2px #30FD30;
  border-right: none;
  color: #0251FB;
  height: 50px;
  width: 50px;
  margin-top: 20px;
  padding-top: 15px;
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
}

.square-2 {
  border: solid 2px #30FD30;
  color: #0251FB;
  height: 50px;
  width: 50px;
  margin-top: 20px;
  padding-top: 15px;
  font-size: 3rem;
  font-weight: bolder;
  transform: translateX(-4px);
  text-align: center;
}

.translate {
  transform: translateX(-6px);
}

/*TABLEAU PERFREVIEW*/


.table>thead>tr>th {
    vertical-align: middle;
}

th:first-child {
  font-weight: normal;
}

th.col-sm-1.col-md-1, td {
    text-align: center;
    line-height: 1;
}

td:first-child{
  font-weight: bold;
}

table.table.table-bordered {
    margin-top: 20px;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: black solid 2px;
}

.table>thead:first-child>tr:first-child>th {
  border-top: black solid 2px;
}

.table>tfoot>tr>td {
  border-bottom: 0px !important;
  border-bottom: #F2F2F2 !important;
}

table {
    border-bottom: 0px !important;
}

#more-perfReview {
  margin: 3px;
  width: 35px;
}

#more-perfReview:hover {
  margin: 3px;
  width: 38px;
  cursor: pointer;
}

#close {
  display: none;
}

button#close {
  float: left;
  color: #1044FF;
  font-size: 10px;
  background-color: #F2F2F2;
  padding: 0;
}

#close:hover {
  font-size: 15px;
}

.left-align{
  text-align: left;
}

.special-width {
  width: 100px;
}

.display-on-click {
  display:none;
}

/*PRODUIT MOIS*/
.white-block {
  background-color: white;
  text-align: center;
  margin-top: 20px;
  width: auto;
  margin-right: 0;
  cursor: pointer;
}

.resp-sm {
  margin-bottom: 15px;
}

.month-product {
  display: inline-block;
  height: 259px;
}

.img-product {
  height: 262px;
  width: 185px;
}

/*SECTION PORTEFEUILLE*/

.wallet-white-block {
  background-color: white;
  text-align: center;
  width: 22%;
  padding: 47px;
  margin-left: 15px;
}

#wallet {
  width: 80px;
  height: 69px;
}

.wallet-black-block {
  background-color: black;
  color: white;
  padding-bottom: 36px;
  width: 71%;
  float: right;
  right: 28px;
}

.wallet-black-block a {
  color: white;
}

.wallet-button:hover {
  color: #585858;
}

.wallet-black-block a:visited {
  color: #585858 !important;
}

.wallet-teaser {
  display: block;
  padding-left: 15%;
  padding-right: 15%
}

.wallet-button {
  text-align: center !important;
  text-transform: uppercase !important;
  background-color: black !important;
  border: solid 1px white;
  border-radius: 0px;
  color: white !important;
}

.wrap {
  padding: 15px 1px 15px 15px;
}

.black-line {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid black;
}

.black-line-1 {
  padding-bottom: 16px;
  margin-bottom: 30px;
  border-bottom: 2px solid black;
}

/*BLOG SECTION*/
.margin-block {
  margin: 15px 0;
}

.blog {
  margin-top: 15px;
}

#question-img {
  width: 121px;
  height: 95px;
}

.grey-block {
  background-color: #E5E5E5;
  margin-left: 30px;
  padding-top: 11px;
  padding-bottom: 41px;
  padding-left: 22px;
  margin-right: auto;
  right: 15px;
  margin-bottom: 15px;
  transition: opacity 1s ease 0s;
  height: 273px;
}

.blue-feature-1 {
  width: 30px;
  border-bottom: solid 1px #0251FB;
  margin-left: 5px;
}

.blue-feature-2 {
  width: 30px;
  border-bottom: solid 1px #0251FB;
}

.blue-title {
  font-size: 13px;
  text-transform: uppercase;
  color: #0251FB;
  transform: translateY(6px);
}

.list-inline {
    margin-bottom: 0;
}

.new-line {
  display: block;
}

.grey-block-2 p{
  margin-top: 17px;
  width: 99%;
}

.blog-title-1 {
  padding-bottom: 10px;
}

.blog-img {
  padding: 15px;
  transform: translateY(-10px);
}

.article p {
  font-size: 12px;
  text-align: justify;
  margin-right: 30px;
  padding-left: 30px;
  overflow: hidden;
}

p#blog-1-p, p#blog-2-p {
  overflow: hidden;
  word-wrap: break-word;
  height: 118px;
  text-align: justify;
}

.white-block-blog {
  background-color: white;
  text-align: center;
  height: 250px;
  padding: 0px;
  margin: 0 10px 10px 10px;
  margin-left: 15px;
  padding-right: 8px;
}

p#figure-p {
    margin-top: 10px;
}

#figure-p {
  overflow: auto;
  word-wrap: break-word;
  height: 86px;
}

.white-block-blog h2 {
  padding-top: 0;
  margin-top: 12px;
  text-align: left;
  margin-left: 15px;
}

.figure-month {
  font-weight: bolder;
  border-bottom: 2px solid #30FD30;
  height: 60px;
  margin: 0 7px;
  /*font-size: 60px;*/
}

.white-block-blog p {
  margin-top: 25px;
  text-align: left;
  margin-right: 5px;
  margin-left: 15px;
  padding-bottom: 15px;
}

.grey-block-2 {
  font-size: 14px;
  background-color: #E5E5E5;
  padding-top: 10px;
  padding-bottom: 33px;
  padding-left: 30px;
  float: right;
  right: 15px;
  height: 273px;
}

/*SECTION OUR AGREEMENT*/
.agreement-block {
  padding-bottom: 25px;
}

.black-block-partner {
  background-color: black;
  color: white;
  padding-top: 14px;
  padding-left: 20px;
}

.black-block-partner p {
  width: 79%;
}

.main-title {
  font-size: 15px;
  line-height: 20px;
  font-weight: bolder;
  text-transform: uppercase;
  display: inline;
  color: white;
}

.grey-block-3 {
  background-color: #E5E5E5;
  margin-left: 22px;
  padding-left: 18px;
  height: 237px;
}

.grey-block-3 p {
  font-weight: lighter;
  text-align: -webkit-left;
  width: 81%;
}

.img-agreement {
  width: 110px;
}

.white-block-partner {
  background-color: white;
  float: right;
  padding-left: 20px;
}

.white-block-partner p {
  margin: 10px 0 14px 0;
}

#ok {
  position: absolute;
  top: 7%;
  left: 82%;
  width: 146px;
  height: 125px;
}

/*#ok:hover {
  background-color: white;
  position: absolute;
  opacity: 0.92;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}*/

/* SECTION OUR values*/

.white-block-style {
  background-color: white;
  margin-left: 15px;
  padding-left: 17px;
  padding-bottom: 40px;
  width: 44%;
}

.white-block-style-2 {
  background-color: white;
  margin-left: 15px;
  padding-left: 17px;
  padding-bottom: 17px;
  float: right;
  margin-right: 15px;
}

.values {
  padding-left: 15px;
}


/* SECTION METHODOLOGIE*/

.our-methodologie {
  margin-top: 25px;
}

.number {
  font-size: 3rem;
}

.methodologie {
  margin-right: 28px;
  margin: 0 auto;
  margin-left: 28px;
}

.methodologie p {
  margin-top: 15px;
  font-size: 17px;
}

#methodo-2-block {
  transform: translateX(11px);
}

#value-img1 {
  width: 66px;
  height: 53px;
  transform: translateX(17px);
}

#value-img2 {
  width: 54px;
  height: 53px;
  transform: translateX(7px);
}

#value-img3 {
  width: 55px;
  height: 52px;
}

#value-img4 {
  width: 58px;
  height: 53px;
}

.p-width-2 span{
  display: block;
}

.p-width-2 span p{
  display: block;
}

.p-width-3 {
  width: 134%;
}

.p-width-3 span {
  display: block;
}

#methodo-img1 {
  width: 60px;
  height: 53px;
  margin-top: 7px;
}

#methodo-img2 {
  width: 75px;
  height: 47px;
  margin-top: 10px;
}

#methodo-img3 {
  width: 66px;
  height: 52px;
  margin-top: 7px;
}

/*SECTION TEAM*/

.grey-block-4 {
  background-color: #E5E5E5;
  margin-top: 35px;
  margin-bottom: 90px;
  padding: 15px 0 35px 32px;
}

.grey-block-4 ul {
  margin: 10px 20px 0 20px;
}

.img-circle {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.img-more {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 65px;
}


/*FOOTER*/
footer * {
  font-weight: lighter;
}

.footer-main {
  background-color: black;
  color: white;
  padding: 18px 70px 32px 66px;
  margin-bottom: 0;
  border-radius: 0px;
}

.always-left {
  float: left;
  font-size: 11px;
  line-height: 11px;
  margin-left: 10px;
  text-align: left;
  margin-top: 11px;
}

.always-left a,.always-right a {
  color: white;
  text-decoration: none;
}

.always-left span a {
  margin-right: 30px;
}

.always-right {
  font-size: 11px;
  line-height: 13px;
  float: right;
  text-align: right;
}

.immatriculation-p {
  font-weight: lighter;
}

.footer-arrow {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  display: none;
}

.footer-main span a:hover, .always-right a:hover {
  color: white;
  text-decoration: underline;
}


a#arrow-position {
    cursor: pointer;
}

.fa-chevron-circle-up {
  cursor: pointer;
}

#scroll-back-to-top {
  text-align: center;
}


/*MEDIA QUERIES*/

/*1- Small devices (landscape phones, 576px and up)*/


@media(max-width:506px){
  .logo {
    width: 100px;
  }
  #log {
    margin: 2px 3px;
    padding: 0px 12px;
  }
  .auth {
    margin-top: 10px;
  }
  input[type=search] {
    width: 62%;
  }
  .language-switcher {
    right: 45px;
    top: -8px;
  }
  .white-block-style {
    width: 93%;
  }
  .agreement-block {
    padding-bottom: 1px;
  }
  .methodologie p {
    font-size: 13px;
  }
  .p-width-2 {
    margin-bottom: 8px;
  }
}

@media (max-device-width : 464px) {
  .methodologie {
    margin-left: 0;
    margin-right: 30px;
  }
  .methodologie p {
    font-size: 15px;
  }
  #methodo-img2 {
    transform: translateY(5px);
  }
  .grey-block-2, .white-block-blog {
    height: 320px;
  }
}

/*product of the month*/
@media (max-device-width : 450px) {
  #white-block {
  margin-top: 20px;
  }
  .grey-block {
    height: 330px;
  }
}

@media (max-device-width : 733px){
  #question-img {
    width: 80px;
    height: 69px;
  }
}

@media (max-device-width : 732px) {
  #white-block {
  margin-top: 20px;
  padding: 0;
  }
}

@media only screen and (min-device-width : 462px) and (max-device-width : 765px) {
  .white-block-blog {
    height: 272px;
  }
}

@media only screen and (min-device-width : 450px) and (max-device-width : 768px){
  .white-block-style {
    width: 57%;
  }
}

@media only screen and (min-device-width : 500px) and (max-device-width : 768px){
  input[type=search] {
    width: 62%;
  }
  .methodologie {
    margin-left: 36px;
    padding-bottom: 15px;
  }
  #methodo-2-block {
    transform: translateX(30px);
  }
  #methodo-img2 {
    transform: translateY(O);
  }
}

@media (max-width : 708px) {
  #methodo-img3 {
    margin-top: 13px;
  }
}

@media (max-width : 722px ) {
  .figure-month {
    font-size: 40px;
  }
  #white-block {
    height: 316px;
    padding: 0;
    padding-left: 0 !important;
  }
}

@media (max-width : 742px ){
  .more-product-sm {
      left: 60%;
  }
}

@media only screen and (min-device-width : 616px) and (max-device-width : 766px){
  .grey-block-2 {
      width: 60%;
  }
}

@media only screen and (min-device-width : 708px) and (max-device-width : 992px){
  #methodo-img3 {
    margin-top: 28px;
  }
}

/*responsive team*/

@media only screen and (min-device-width : 760px) and (max-device-width : 990px) {
  .team {
    padding-left: 0px !important;
  }
  .white-block-blog {
    height: 273px;
  }
}

@media only screen and (min-device-width : 762px) and (max-device-width : 992px){
  .figure-month {
    text-align: -webkit-center;
    position: inherit;
    margin: 0 83px;
  }
  #methodo-2-block {
    transform: translateX(27px);
  }
  #methodo-img3 {
    width: 67px;
    height: 47px;
  }
  #methodo-img1 {
    transform: translateY(4px);
    width: 50px;
    height: 46px;
  }
  .methodologie {
    display: inline-block;
    margin-left: 41px;
  }
  .white-block-style-2 {
    padding-bottom: 30px;
  }
  .agreement-block {
    padding-bottom: 0;
  }
  #white-block {
    width: 39%;
    float: right;
    padding: 0px;
  }
  .white-block-style {
    width: 96%;
  }
  .white-block-blog p {
    text-align: -webkit-center;
  }
}

@media(max-width:730px){
  .grey-letters h5 {
    font-size: 13px;
  }
  .grey-block-2 {
    padding-left: 35px;
  }
  #value-img1 {
    width: 53px;
    height: 42px;
  }
  #value-img2 {
    width: 39px;
    height: 42px;
  }
  #value-img3 {
    width: 46px;
    height: 42px;
  }
  #value-img4 {
    width: 47px;
    height: 44px;
  }
  .month-product {
    height: 238px;
  }
}

@media(max-width:767px){
  .grey-block {
    padding-left: 50px;
  }
  .wallet-black-block {
    margin-left: 15px;
    padding-bottom: 43px;
    width: 94%;
  }
  .wrap {
    padding: 0px 1px 0px 17px;
  }
  .black-line {
    margin-bottom: 20px;
    padding-top: 5px;
  }
  .black-line-1 {
    margin-bottom: 32px;
  }
  #more-3-sm {
    left: 46%;
  }
  p .grey-letters {
    width: 81%;
  }
  .white-block-blog p {
    text-align: -webkit-center;
  }
  .black-block-partner {
    height: auto;
  }
  .black-block-partner p {
    padding-bottom: 15px;
  }
  .white-block-style {
    padding-top: 5px;
  }
  .white-block-style-2 {
    padding-bottom: 23px;
    display: inline-block;
    width: auto;
    margin-top: 15px;
  }
  .grey-block-3 {
    margin-left: 0;
    padding: 15px 0 15px 18px;
    margin: 15px 0;
  }
  .grey-block-3 .list-inline {
    text-align: -webkit-center;
  }
  #methodo-img1 {
    transform: translateY(4px);
  }
}

/*Medium devices (tablets, 768px and up)*/


  @media only screen and (min-device-width : 760px) and (max-device-width : 987px){
    input[type=search] {
      width: 71%;
    }
  }

  @media only screen and (min-device-width : 774px) and (max-device-width : 990px){
    #question-img {
    width: 168px;
    height: 118px;
    padding-left: 41px;
    }
  }

  @media(min-width:768px) {
    .grey-block {
      margin-bottom: 15px;
    }
    .grey-block-3 {
      margin-left: 58px;
    }
    .white-block-partner {
      margin-top: 15px;
    }
    .white-block-blog {
      padding: 0px;
      margin: 0 10px 10px 10px;
      margin-left: 15px;
    }
    #value-img3 {
      transform: translateX(17px);
    }
    #value-img4 {
      transform: translateX(3px);
    }
    .methodologie p {
      font-size: 15px;
    }
    .wallet-black-block {
      width: 68%;
    }
    .article {
      padding-left: 0;
    }
    .article p {
      font-size: 14px;
      padding-left: 30px;
      text-align: -webkit-auto;
    }
    .white-block-style {
      padding-top: 1px;
      margin-right: 15px;
    }
    .white-block-style-2 {
      margin-top: 15px;
    }
    .black-block-partner {
      padding-bottom: 7px;
    }
    .methodologie {
      display: inline-block;
    }
  }

  @media(max-width:850px) {
    .language-switcher {
      font-size: 1rem;
      text-align: center;
    }
    .white-block-style {
    margin-right: 15px;
    }
  }

  @media(max-width:992px) {
    .logo {
      padding-top: 16px;
      margin-left: 20px;
    }
    .white-block-blog h2 {
      text-align: -webkit-center;
    }
    .numbers, .perf-review {
      text-align: center;
    }
    .language-switcher {
      margin-top: 0;
    }
    .zone-transit {
      transform: translateY(-29px);
    }
    .img-circle {
      width: 80px !important;
      height: 80px !important;
    }
    .img-product {
      height: 235px;
    }
  }

/*2- Desktops and laptops*/
    @media(min-width:992px){
    input[type=search] {
      width: 59%;
    }
    .container {
      width: 1030px;
    }
    .black-block-partner {
      padding-bottom: 22px;
    }
    .grey-block-3 {
    margin-left: 23px;
    }
    .white-block-partner {
      margin-top: 0;
    }
    .white-block-style-2 {
      margin-top: 0;
      padding-bottom: 30px;
    }
    .agreement-block {
      padding-bottom: 15px;
    }
  }

  @media (max-device-width : 400px) {
      .always-left, .always-right {
        margin: 0;
        padding: 0;
        text-align: -webkit-center;
      }
    }

  @media only screen and (min-device-width : 400px) and (max-device-width : 538px){
    .always-left, .always-right {
      margin: 0;
      padding: 0;
      text-align: -webkit-center;
    }
  }

  @media only screen and (min-device-width : 538px) and (max-device-width : 1050px){
      .always-left, .always-right {
        text-align:  -webkit-center;
    }
      .always-left {
        padding-bottom: 15px;
        line-height: 13px;
      }
      #footer>.block {
        display: block;
      }
      #footer {
        line-height: 0px;
      }
  }

/*3- very large screen*/
  @media (min-width : 1200px) {
    .wallet-black-block {
      width: 72%;
    }
    .black-block-partner {
      padding-bottom: 23px;
    }
    .wallet-black-block {
      width: 71%;
    }
    .footer-main {
      padding: 18px 179px 16px 179px;
    }
    .team-img {
      margin-right: 30px;
    }
  }

  @media (min-width : 1420px) {
    .prod-list {
      padding-top: 4px;
    }
}
