/*GENERAL*/

body {
    /*text-align: center;*/
    padding-top: 250px;
    background: #F2F2F2;
    color: #020202;
    font-family: 'Open Sans', 'Quicksand', Arial, sans-serif;
    font-size: 14px;
    line-height: 17px;
    justify-content: space-between;
}

/*@font-face {
    font-family: "GothamRnd";
    src: url("font/GothamRnd-Bold.otf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "GothamRnd";
    src: url("font/GothamRnd-BoldIta.otf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "GothamRnd";
    src: url("font/GothamRnd-Book.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GothamRnd";
    src: url("font/GothamRnd-BookIta.otf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "GothamRnd";
    src: url("font/GothamRnd-Light.otf") format("truetype");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "GothamRnd";
    src: url("font/GothamRnd-MedItal.otf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "GothamRnd";
    src: url("font/GothamRounded-LightItalic.otf") format("truetype");
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: "GothamRnd";
    src: url("font/GothamRounded-Medium.otf") format("truetype");
    font-weight: bold;
    font-style: normal;
}*/

h1 {
  font-size: 17px;
  font-weight: bolder;
  text-transform: uppercase;
}

h2 {
  font-size: 16px;
  line-height: 20px;
  font-weight: bolder;
  text-transform: uppercase;
  padding-top: 18px;
  text-align: center;
  padding-bottom: 7px;
}

h3 {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 20px;
}

h4 {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 15px;
  font-weight: 900;
}

h5 {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 15px;
}

.grey-letters {
  color: #4A4A4A;
}

.grey-letters-light {
  color: #777776;
  font-size: 16px;
}

.clear {
  clear: both;
}

.float-right {
  float: right;
}

.padding_left {
  padding-left: 30px;
  padding-right: 15px;
}

.padding_right {
  padding-right: 4px !important;
  padding-left: 7px !important;
}

.padding_bottom {
  padding-bottom: 30px;
}

.container-fluid {
  margin: 0;
  padding: 0px;
}

.wrapper {
  margin-top: 25px;
}

.min {
  font-size: 15px;
  font-weight: normal;
  text-transform: none;
  color: #4A4A4A;
}

.italicized {
  font-weight: lighter;
  font-style: italic;
}

.block-content {
  margin: 25px 0;
}


/*NAVBAR*/
.language-switcher {
	color: black;
	cursor: pointer;
	text-transform: uppercase;
	text-decoration: none;
	position: absolute;
	right: 50px;
	top: 5px;
	font-size: 14px;
	font-weight: bold;
  line-height: 3;
  margin-right: 0;
  padding-right: 0;
}

.language:hover {
  text-decoration: underline !important;
}

.nav {
  background-color: white;
	text-align: center;
	color: black;
	text-transform: uppercase;
	font-weight: bold;
  font-size: 13px;
}

.navbar {
  font-weight: bold;
  font-size: 12px;;
  background-color: white;
  text-align: center;
  padding-bottom: 20px;
  margin-top: 18px;
}

#menu-home, #menu-method, #menu-mesure, #menu-products, #menu-blog, #menu-faq, #menu-contact {
    text-transform: uppercase;
}

.navbar a {
  color: black;
}


.navbar-fixed-top {
  margin-top: 0;
}

.nav a {
  color: black;
  font-size: 12px;
}
.navbar li {
	padding: 15px;
}

ul>li>a:hover {
	color: blue !important;
	background-color: white !important;
  text-decoration: none !important;
}

/*#twitter {
  padding: 10px;
}*/

#socials {
  display: block;
  transform: translateY(-20px);
}

.auth {
  display: inline-block;
}

.zone-transit {
  display: inline-flex;
  transform: translateY(-31px);
}

#menu-home a {
  color: blue !important;
}

.logo {
	padding-top: 15px;
}

input.btn.btn-default {
  border-radius: 0;
  border: 2px solid black;
  margin: 5px 4px;
  text-transform: uppercase;
  padding: 3px 7px;
}

.slider_jquery {
	position: absolute;
	left: 0;
	right: 0;
}

.slider {
	background: black;
	color: white;
	font-size: 18px;
	line-height: 60px;
	padding: 0px 0;
  height: 55px;
}

/*SECTION PRODUCT*/

.img-bell {
  width: 55px;
  height: 55px;
}
.products {
  background-color: #F2F2F2;
}

#translate-p {
  transition: translateY(-50px);
}

.products-title {
  font-weight: bold;
  color: black !important;
}

.prod-list {
  background-color: white;
  text-transform: uppercase;
  display: block;
  margin-top: 15px;
  height: 31px;
  font-size: 16px;
  padding-top: 2px;
}

img#eavest {
    transform: translateY(-2px);
}


.margin {
  margin-left: 8px;
  vertical-align: -webkit-baseline-middle;
}

/*hover*/

#more-1, #more-2 {
  display: none;
  position: absolute;
  left: 42%;
  top: 49%;
  width: 70px;
  height: 70px;
  cursor: auto;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#more-3 {
  display: none;
  position: absolute;
  left: 38%;
  top: 41%;
  width: 70px;
  height: 70px;
  cursor: auto;
  opacity: 1;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#more: hover {
  opacity: 1;
  color: blue;
  background: transparent;
}

/*end hover*/

/*SEARCH-PRODUCT*/

.black-block{
  background-color: black;
  color: white;
  margin-bottom: 0;
  padding-bottom: 40px;
  padding-top: 40px;
}

.search {
  background-color: white;
  font-size: 14px;
  text-align: center;
  padding: 40px 15px 39px 15px;
}

.search-bar {
  height: 48px;
  border: solid 2px blue;
  margin-top: 15px;
}

input[type=search] {
  border: solid 1px white;
  border-right: none;
  height: 37px;
  margin-bottom: 15px;
  margin-top: 15px;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 55%;
  right: 70px;
  transform: translateY(2px);
}

.search p {
  margin: 0;
}

.fa-search {
  color: blue;
  border-left: none;
  margin-top: -3px;
  height: 37px;
  padding-right: 5px;
  transform: translateX(-3px);
  padding: 3px;
  position: absolute;
  right: 36px;
}

.numbers {
padding-left: 5px;
}

.square-1 {
  border: solid 2px #30FD30;
  border-right: none;
  color: blue;
  height: 50px;
  width: 50px;
  margin-top: 20px;
  padding-top: 15px;
  font-size: 3rem;
  font-weight: bolder;
}

.square-2 {
  border: solid 2px #30FD30;
  color: blue;
  height: 50px;
  width: 50px;
  margin-top: 20px;
  padding-top: 15px;
  font-size: 3rem;
  font-weight: bolder;
  transform: translateX(-4px);
}

.translate {
  transform: translateX(-6px);
}

/*TABLEAU*/


.table>thead>tr>th {
    vertical-align: middle;
}

th:first-child {
  font-weight: normal;
}

th.col-sm-1.col-md-1, td {
    text-align: center;
    line-height: 1;
}

td:first-child{
  font-weight: bold;
}

table.table.table-bordered {
    margin-top: 20px;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: black solid 2px;
}

.table>thead:first-child>tr:first-child>th {
  border-top: black solid 2px;
}

.table>tfoot>tr>td {
  border-bottom: 0px !important;
  border-bottom: #F2F2F2 !important;
}

table {
    border-bottom: 0px !important;
}

table .display-on-click{
  display: none;
}

.left-align{
  text-align: left;
}

.special-width {
  width: 100px;
}

/*PRODUIT MOIS*/
.white-block {
  background-color: white;
  text-align: center;
}

.month-product {
  display: inline-block;
  height: 259px;
}

.img-product {
  height: 262px;
  width: 185px;
}

/*SECTION PORTEFEUILLE*/

.wallet-white-block {
  background-color: white;
  text-align: center;
  width: 22%;
  padding: 35px;
  margin-left: 15px;
}

.wallet-black-block {
  background-color: black;
  color: white;
  padding-bottom: 36px;
  width: 71%;
  float: right;
  right: 28px;
}

.wallet-black-block a {
  color: #4A4A4A !important;
}

.wallet-button:hover {
  color: #333;
}

.wallet-black-block a:visited {
  color: #4A4A4A !important;
}

.wallet-black-block span {
  display: block;
}

.wallet-button {
  text-align: center !important;
  text-transform: uppercase !important;
  background-color: black !important;
  border: solid 1px white;
  border-radius: 0px;
}

.wrap {
  padding: 15px 1px 15px 15px;
}

.black-line {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid black;
}

/*BLOG SECTION*/
.margin-block {
  margin: 15px 0;
}

.blog {
  margin-top: 15px;
}

.grey-block {
  background-color: #E5E5E5;
  margin-left: 30px;
  padding-top: 11px;
  padding-bottom: 55px;
  padding-left: 22px;
  margin-right: auto;
  right: 15px;
  margin-bottom: 15px;
}

.blue-feature-1 {
  width: 30px;
  border-bottom: solid 1px blue;
  margin-left: 5px;
}

.blue-feature-2 {
  width: 30px;
  border-bottom: solid 1px blue;
}

.blue-title {
  font-size: 13px;
  text-transform: uppercase;
  color: blue;
  transform: translateY(6px);
}

.list-inline {
    margin-bottom: 0;
}

.grey-block-2 h3 span, p span {
  display: block;
}

.grey-block-2 p{
  margin-top: 17px;
  width: 99%;
}

.blog-title-1 {
  padding-bottom: 10px;
}

.blog-title-1  span {
  display: block;
}

.blog-title-2 {
  width: 66%;
}

.blog-img {
  padding: 15px;
  transform: translateY(-10px);
}

.article p {
  font-size: 12px;
  text-align: justify;
  margin-right: 30px;
}

.article p span {
  display: block;
}

.white-block-blog {
  background-color: white;
  text-align: center;
  height: 203px;
  padding: 0px;
  margin: 0 10px 10px 10px;
  margin-left: 15px;
}


.white-block-blog h2 {
  padding-top: 0;
  margin-top: 12px;
  text-align: left;
  margin-left: 15px;
}

.figure-month {
  text-align: left;
  font-weight: bolder;
  position: absolute;
  left: 13px;
  font-size: 6rem;
}

.green-line {
  width: 127px;
  border: 1px solid #30FD30;
  position: absolute;
  top: 123px;
  left: 5px;
  margin-left: 8px;
}

.white-block-blog p {
  margin-top: 25px;
  position: absolute;
  top: 112px;
  left: 13px;
  text-align: left;
  margin-right: 7px;
}

.grey-block-2 {
  font-size: 14px;
  background-color: #E5E5E5;
  padding-top: 10px;
  padding-bottom: 33px;
  padding-left: 30px;
  float: right;
  right: 15px;
}

/*SECTION OUR AGREEMENT*/
.agreement-block {
  padding-bottom: 25px;
}

.black-block-partner {
  background-color: black;
  color: white;
  padding-top: 14px;
  padding-left: 20px;
}

.black-block-partner p {
  width: 79%;
}

.main-title {
  font-size: 15px;
  line-height: 20px;
  font-weight: bolder;
  text-transform: uppercase;
  display: inline;
  color: white;
}

.grey-block-3 {
  background-color: #E5E5E5;
  margin-left: 22px;
  padding-left: 18px;
  height: 228px;
}

.grey-block-3 p {
  font-weight: lighter;
  text-align: -webkit-left;
  width: 81%;
}

.img-agreement {
  width: 110px;
}

.white-block-partner {
  background-color: white;
  float: right;
  padding-left: 20px;
}

.white-block-partner p {
  margin: 10px 0 14px 0;
}

#ok {
  position: absolute;
  top: 5%;
  left: 85%;
}

/* SECTION OUR values*/

.white-block-style {
  background-color: white;
  margin-left: 15px;
  padding-left: 17px;
  padding-bottom: 40px;
  width: 44%;
}

.white-block-style-2 {
  background-color: white;
  margin-left: 15px;
  padding-left: 17px;
  padding-bottom: 17px;
  float: right;
  margin-right: 15px;
}

.values {
  padding-left: 15px;
}


/* SECTION METHODOLOGIE*/

.our-methodologie {
  margin-top: 25px;
}

.number {
  font-size: 3rem;
}

.methodologie {
  margin-right: 28px;
  margin: 0 auto;
  margin-left: 28px;
}

.methodologie p {
  margin-top: 15px;
  font-size: 17px;
}

#methodo-2-block {
  transform: translateX(9px);
}

#value-img1 {
  width: 66px;
  height: 53px;
  transform: translateX(17px);
}

#value-img2 {
  width: 47px;
  height: 53px;
  transform: translateX(7px);
}

#value-img3 {
  width: 55px;
  height: 52px;
}

#value-img4 {
  width: 58px;
  height: 53px;
}

/*.p-width-2 {
  width: 100%;
}*/

.p-width-2 span{
  display: block;
}

.p-width-2 span p{
  display: block;
}

.p-width-3 {
  width: 134%;
}

.p-width-3 span {
  display: block;
}

#methodo-img1 {
  width: 50px;
  height: 50px;
  margin-top: 7px;
}

#methodo-img2 {
  width: 74px;
  height: 50px;
  margin-top: 7px;
}

#methodo-img3 {
  width: 67px;
  height: 50px;
  margin-top: 7px;
}

/*SECTION TEAM*/

.grey-block-4 {
  background-color: #E5E5E5;
  margin-top: 35px;
  margin-bottom: 90px;
  padding: 15px 0 35px 32px;
}

.grey-block-4 ul {
  margin: 10px 20px 0 20px;
}

.team {
  margin-right: 38px;
}

.img-circle {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.img-more {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 65px;
}


/*FOOTER*/
footer * {
  font-weight: lighter;
}

.footer-main {
  background-color: black;
  color: white;
  padding: 18px 70px 32px 66px;
  margin-bottom: 0;
  border-radius: 0px;
}

.always-left {
  float: left;
  font-size: 11px;
  line-height: 11px;
  margin-left: 10px;
  text-align: left;
  margin-top: 11px;
}

.always-left a,.always-right a {
  color: white;
  text-decoration: none;
}

.always-left span a {
  margin-right: 30px;
}

.always-right {
  font-size: 11px;
  line-height: 13px;
  float: right;
  text-align: right;
}

.immatriculation-p {
  font-weight: lighter;
}

.footer-arrow {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
}

.footer-main span a:hover, .always-right a:hover {
  color: white;
  text-decoration: underline;
}

/*.footer-arrow-2 {
  position: fixed;
  right: 20px;
  bottom: 140px;
}*/

a#arrow-position {
    cursor: pointer;
}

#scroll-back-to-top {
  text-align: center;
}


/*MEDIA QUERIES*/

/*1- Small devices (landscape phones, 576px and up)*/
@media(max-width:506px){
  .logo {
    width: 100px;
  }
  #log {
    margin: 2px 3px;
    padding: 0px 12px;
  }
  .auth {
    margin-top: 10px;
  }
  input[type=search] {
    width: 68%;
  }
  .language-switcher {
    right: 45px;
    top: -8px;
  }
  .white-block-style {
    width: 96%;
  }
}

@media only screen and (min-device-width : 450px) and (max-device-width : 768px){
  .white-block-style {
    width: 57%;
  }
}


@media only screen and (min-device-width : 500px) and (max-device-width : 768px){
  input[type=search] {
    width: 80%;
  }
}

@media only screen and (min-device-width : 767px) and (max-device-width : 992px){
  .white-block {
    margin-top: 45px;
  }
  .white-block-style {
    width: 58%;
  }
  #methodo-2-block {
    transform: translateX(33px);
  }
  #methodo-img3 {
    transform: translateY(21px);
    width: 67px;
    height: 47px;
  }
  #methodo-img1 {
    transform: translateY(4px);
    width: 50px;
    height: 46px;
  }
  .methodologie {
    display: inline-block;
    margin-left: 41px;
  }
  .white-block-style-2 {
    padding-bottom: 30px;
  }
}

@media(max-width: 710px){

}


@media(max-width:730px){
  .grey-letters h5 {
    font-size: 13px;
  }
  #value-img1 {
    width: 53px;
    height: 42px;
  }
  #value-img2 {
    width: 39px;
    height: 42px;
  }
  #value-img3 {
    width: 46px;
    height: 42px;
  }
  #value-img4 {
    width: 47px;
    height: 44px;
  }
}

@media(max-width:767px){
  .padding_left {
    padding-left: 15px;
  }
  .numbers, .perf-review {
    text-align: center;
  }
  .grey-block {
    padding-left: 50px;
  }
  .wallet-black-block {
    margin-left: 15px;
    padding-bottom: 43px;
    width: 94%;
  }
  .wrap {
    padding: 0px 1px 0px 17px;
  }
  .black-line{
    margin-bottom: 19px;
  }
  p .grey-letters {
    width: 81%;
  }
  .white-block-blog {
    height: 219px;
  }
  .white-block-blog p {
    left: 23px;
  }
  .black-block-partner {
    height: auto;
  }
  .black-block-partner p {
    padding-bottom: 15px;
  }
  .white-block-style {
    padding-top: 5px;
    margin-right: 15px;
  }
  .white-block-style-2 {
    padding-bottom: 23px;
    display: inline-block;
    width: auto;
    margin-top: 15px;
  }
  .grey-block-3 {
    margin-left: 0;
    padding: 15px 0 15px 18px;
    margin: 15px 0;
  }
  .grey-block-3 .list-inline {
    text-align: -webkit-center;
  }
  .green-line {
    left: 16px;
  }
  .agreement-block {
    padding-bottom: 0;
  }
  .methodologie {
    margin-left: 36px;
    padding-bottom: 15px;
  }
  #methodo-img1 {
    transform: translateY(4px);
  }
  #methodo-img2 {
    transform: translateY(4px);
  }
  #methodo-img3 {
    margin-top: 28px;
  }
  .footer-main span a, always-right {
    text-align: center;
    margin: 22px;
  }
  .always-left {
    float: none;
    margin-left: 0px;
    text-align: -webkit-center;
    display: -webkit-box;
  }
  .always-right {
    display: inline-block;
    text-align: center;
    margin: 15px;
  }
  .footer-main {
    padding: 18px 190px 17px 145px;
  }
  .footer-main span a, always-right {
    display: inline-block;
    text-align: -webkit-center;
  }
}

/*Medium devices (tablets, 768px and up)*/

  @media(min-width:768px) {
    input[type=search] {
      width: 45%;
    }
    .grey-block {
      margin-bottom: 15px;
    }
    .grey-block-3 {
      margin-left: 58px;
    }
    .white-block-partner {
      margin-top: 15px;
    }
    .white-block-blog {
      padding: 0px;
      margin: 0 10px 10px 10px;
      margin-left: 15px;
    }
    .green-line {
      width: 120px;
      transform: translateY(-6px);
    }
    #value-img3 {
      transform: translateX(17px);
    }
    #value-img4 {
      transform: translateX(3px);
    }
    .methodologie p {
      font-size: 15px;
    }
    .wallet-black-block {
      width: 68%;
    }
    .article {
      padding-left: 0;
    }
    .article p {
      font-size: 14px;
      padding-left: 21px;
      text-align: -webkit-auto;
    }
    .white-block-style {
      padding-top: 1px;
      margin-right: 15px;
    }
    .white-block-style-2 {
      margin-top: 15px;
    }
    /*.agreement-block {
     padding-bottom: 15px;
    }*/
    .black-block-partner {
      padding-bottom: 7px;
    }
    .methodologie {
      display: inline-block;
    }
  }

  @media(max-width:850px) {
    .language-switcher {
      font-size: 1rem;
      text-align: center;
    }
  }

  @media(max-width:992px) {
    .logo {
      padding-top: 16px;
      margin-left: 20px;
    }
    .white-block-blog h2 {
      text-align: -webkit-center;
    }
    .white-block-blog p {
      left: 43px;
    }
    .figure-month {
      text-align: -webkit-center;
      position: inherit;
    }
    .green-line {
      left: 89px;
    }
    .language-switcher {
      margin-top: 0;
    }
    .zone-transit {
      transform: translateY(-29px);
    }
  }

/*2- Desktops and laptops*/
    @media(min-width:992px){
    input[type=search] {
      width: 55%;
    }
    .container {
      width: 1030px;
    }
    .figure-month {
      font-size: 7rem;
    }
    .green-line {
    width: 133px;
    }
    .black-block-partner {
      padding-bottom: 16px;
    }
    .grey-block-3 {
    margin-left: 23px;
    }
    .white-block-partner {
      margin-top: 0;
    }
    .white-block-style-2 {
      margin-top: 0;
      padding-bottom: 30px;
    }
  }

/*3- very large screen*/
  @media (min-width : 1200px) {
    .wallet-black-block {
      width: 72%;
    }
    .black-block-partner {
      padding-bottom: 23px;
    }
    .wallet-black-block {
      width: 71%;
    }
    .footer-main {
      padding: 18px 179px 16px 179px;
    }
  }
