/*GENERAL*/

body {
    /*text-align: center;*/
    padding-top: 250px;
    background: #F2F2F2;
    color: #020202;
    font-family: 'Open Sans', Arial;
    font-size: 14px;
    line-height: 17px;
    justify-content: space-between;
}

h1 {
  font-size: 17px;
  font-weight: bolder;
  text-transform: uppercase;
}

h2 {
  font-size: 16px;
  line-height: 20px;
  font-weight: bolder;
  text-transform: uppercase;
  padding-top: 18px;
  text-align: center;
  padding-bottom: 7px;
}

h3 {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 20px;
}

h4 {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 15px;
  font-weight: 900;
}

h5 {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 15px;
}

.grey-letters {
  color: #4A4A4A;
}

.grey-letters-light {
  color: #777776;
  font-size: 16px;
}

.clear {
  clear: both;
}

.float-right {
  float: right;
}

.padding-left {
  padding-left: 30px;
  padding-right: 15px;
}

.padding-right {
  padding-right: 18px !important;
  padding-left: 7px !important;
}

.padding-bottom {
  padding-bottom: 30px;
}

.container-fluid {
  margin: 0;
  padding: 0px;
}

.wrapper {
  margin-top: 25px;
}

.min {
  font-size: 15px;
  font-weight: normal;
  text-transform: none;
  color: #4A4A4A;
}

.italicized {
  font-weight: lighter;
  font-style: italic;
}

.block-content {
  margin: 25px 0;
}


/*NAVBAR*/
.language-switcher {
	color: black;
	cursor: pointer;
	text-transform: uppercase;
	text-decoration: none;
	position: absolute;
	right: 25px;
	top: 25px;
	font-size: 14px;
	font-weight: bold;
  line-height: 3;
}

.language:hover {
  text-decoration: underline !important;
}

.nav {
  background-color: white;
	text-align: center;
	color: black;
	text-transform: uppercase;
	font-weight: bold;
  font-size: 13px;
}

.navbar {
	margin: 40px 3px 0px 0;
  font-weight: bold;
}

.navbar-fixed-top {
  margin-top: 0;
}

.nav a {
  color: black;
  font-size: 12px;
}
.navbar li {
	padding: 15px;
}

ul>li>a:hover {
	color: blue !important;
	background-color: white !important;
  text-decoration: none !important;
}

#twitter {
  padding: 10px;
}

.zone-transit {
  display: flex;
}

#menu-home a {
  color: blue !important;
}

.logo {
	padding-top: 22px;
}

input.btn.btn-default {
  border-radius: 0;
  border: 2px solid black;
  margin: 5px 4px;
  text-transform: uppercase;
  padding: 3px 15px;
}

.slider_jquery {
	position: absolute;
	left: 0;
	right: 0;
}

.slider {
	background: black;
	color: white;
	font-size: 18px;
	line-height: 60px;
	padding: 0px 0;
  height: 55px;
}

/*SECTION PRODUCT*/

.img-bell {
  width: 55px;
  height: 55px;
}
.products {
  background-color: #F2F2F2;
}

.products-title {
  font-weight: bold;
  color: black !important;
}

.basic-list {
  background-color: white;
  text-transform: uppercase;
  display: block;
  margin-top: 15px;
  height: 32px;
  padding-top: 2px;
  font-size: 16px;
}

.eavest-list {
  background-color: white;
  text-transform: uppercase;
  display: block;
  margin-top: 17px;
  height: 31px;
  font-size: 16px;
}

.margin {
  margin-left: 8px;
  vertical-align: -webkit-baseline-middle;
}

/*hover*/

#more-1, #more-2 {
  display: block;
  position: absolute;
  left: 42%;
  top: 49%;
  width: 100px;
  height: 96px;
  cursor: auto;
  /*-webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;*/
}

#more-1:hover, #more-2:hover {
  width: 100px;
  height: 96px;
  /*backface-visibility: hidden;*/
}

.overlay-1, .overlay-2 {
  transition: all 0.4s ease;
}


/*.product-content-1 {
  transition-property: background-color;
  transition-duration: 6s;
}*/

/*end hover*/

/*SEARCH-PRODUCT*/

.black-block{
  background-color: black;
  color: white;
  margin-bottom: 0;
  padding-bottom: 40px;
  padding-top: 40px;
}

.search {
  background-color: white;
  font-size: 14px;
  text-align: center;
  padding: 40px 15px 39px 15px;
}

.search-bar {
  height: 48px;
  border: solid 2px blue;
  margin-top: 15px;
}

input[type=search] {
  border: solid 1px white;
  border-right: none;
  height: 37px;
  margin-bottom: 15px;
  margin-top: 15px;
  margin: 0;
  padding: 0;
  transform: translateY(-3px);
  position: absolute;
  width: 55%;
  right: 70px;
  transform: translateY(4px);
}

.search p {
  margin: 0;
}

.fa-search {
  color: blue;
  border-left: none;
  margin-top: 5px;
  height: 37px;
  padding-right: 5px;
  transform: translateX(-3px);
  padding: 3px;
  position: absolute;
  right: 36px;
}

.numbers {
padding-left: 5px;
}

.square-1 {
  border: solid 2px #30FD30;
  border-right: none;
  color: blue;
  height: 50px;
  width: 50px;
  margin-top: 20px;
  padding-top: 15px;
  font-size: 3rem;
  font-weight: bolder;
}

.square-2 {
  border: solid 2px #30FD30;
  color: blue;
  height: 50px;
  width: 50px;
  margin-top: 20px;
  padding-top: 15px;
  font-size: 3rem;
  font-weight: bolder;
  transform: translateX(-4px);
}

.translate {
  transform: translateX(-6px);
}

/*TABLEAU*/


.table>thead>tr>th {
    vertical-align: middle;
}

th:first-child {
  font-weight: normal;
}

th.col-sm-1.col-md-1, td {
    text-align: center;
    line-height: 1;
}

td:first-child{
  font-weight: bold;
}

table.table.table-bordered {
    margin-top: 20px;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: black solid 2px;
}

.table>thead:first-child>tr:first-child>th {
  border-top: black solid 2px;
}

.table>tfoot>tr>td {
  border-bottom: 0px !important;
  border-bottom: #F2F2F2 !important;
}

table {
    border-bottom: 0px !important;
}

.left-align{
  text-align: left;
}

.special-width {
  width: 100px;
}

/*PRODUIT MOIS*/
.white-block {
  background-color: white;
  text-align: center;
}

.month-product {
  display: inline-block;
  height: 259px;
}

.img-product {
  height: 262px;
  width: 185px;
}

/*SECTION PORTEFEUILLE*/

.wallet-white-block {
  background-color: white;
  text-align: center;
  width: 22%;
  padding: 35px;
  margin-left: 15px;
}

.wallet-black-block {
  background-color: black;
  color: white;
  padding-bottom: 36px;
  width: 71%;
  float: right;
  right: 28px;
}


.wallet-black-block span {
  display: block;
}

.wallet-button {
  text-align: center !important;
  text-transform: uppercase !important;
  background-color: black !important;
  border: solid 1px white;
  border-radius: 0px;
}

.wrap {
  padding: 15px 1px 10px 15px;
}

.black-line {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid black;
}

/*BLOG SECTION*/
.margin-block {
  margin: 15px 0;
}

.blog {
  margin-top: 15px;
  margin-bottom: 15px;
}

.blog-width {
  width: 85%;
}

.grey-block {
  background-color: #E5E5E5;
  margin-left: 30px;
  padding-top: 11px;
  padding-bottom: 23px;
  padding-left: 22px;
  margin-right: auto;
  right: 15px;
}

.blue-feature-1 {
  width: 30px;
  border-bottom: solid 1px blue;
  margin-left: 5px;
}

.blue-feature-2 {
  width: 30px;
  border-bottom: solid 1px blue;
}

.blue-title {
  font-size: 13px;
  text-transform: uppercase;
  color: blue;
  transform: translateY(6px);
}

.list-inline {
    margin-bottom: 0;
}

.grey-block-2 h3 span, p span {
  display: block;
}

.grey-block-2 p{
  margin-top: 17px;
  width: 85%;
}

.p1-width {
  width: 86%;
  padding-bottom: 10px;
}

.p2-width {
  width: 66%;
}

.blog-img {
  padding: 15px;
  transform: translateY(-10px);
}

.article p {
  font-size: 12px;
  margin-left: 40px;
}

.article p span {
  display: block;
}

.white-block-blog {
  background-color: white;
  text-align: center;
  height: 203px;
  padding: 0px;
  margin: 0 10px 10px 10px;
  margin-left: 15px;
}


.white-block-blog h2 {
  padding-top: 0;
  margin-top: 12px;
  text-align: left;
  margin-left: 15px;
}

.figure-month {
  text-align: left;
  font-weight: bolder;
  position: absolute;
  left: 13px;
  font-size: 6rem;
}

.green-line {
  width: 127px;
  border: 1px solid #30FD30;
  position: absolute;
  top: 123px;
  left: 5px;
  margin-left: 8px;
}

.white-block-blog p {
  margin-top: 25px;
  position: absolute;
  top: 112px;
  left: 13px;
  text-align: left;
  margin-right: 7px;
}

.grey-block-2 {
  font-size: 14px;
  background-color: #E5E5E5;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 22px;
  float: right;
  right: 15px;
}

/*SECTION OUR AGREEMENT*/
.agreement-block {
  padding-bottom: 15px;
}

.black-block-partner {
  background-color: black;
  color: white;
  padding-top: 14px;
  padding-left: 20px;
}

.black-block-partner p {
  width: 79%;
}

.main-title {
  font-size: 15px;
  line-height: 20px;
  font-weight: bolder;
  text-transform: uppercase;
  display: inline;
  color: white;
}

.grey-block-3 {
  background-color: #E5E5E5;
  margin-left: 22px;
  padding-left: 18px;
  height: 237px;
}

.grey-block-3 p {
  font-weight: lighter;
  text-align: -webkit-left;
  width: 81%;
}

.img-agreement {
  width: 110px;
}

.white-block-partner {
  background-color: white;
  float: right;
  padding-left: 20px;
}

.white-block-partner p {
  margin: 10px 0 14px 0;
}

#ok {
  position: absolute;
  top: 5%;
  left: 85%;
}

/* SECTION OUR values*/

.white-block-style {
  background-color: white;
  margin-left: 15px;
  padding-left: 17px;
  padding-bottom: 40px;
}

.white-block-style-2 {
  background-color: white;
  margin-left: 15px;
  padding-left: 17px;
  padding-bottom: 17px;
  float: right;
  margin-right: 15px;
}

.values {
  padding-left: 15px;
}


/* SECTION METHODOLOGIE*/

.our-methodologie {
  margin-top: 20px;
}

.number {
  font-size: 3rem;
}

.methodologie {
  margin: 5px;
  margin-right: 34px;
}

.methodologie p {
  margin-top: 15px;
  font-size: 17px;
}

.value-img1 {
  width: 75px;
  height: 60px;
  transform: translateX(17px);
}

.value-img2 {
  width: 55px;
  height: 60px;
  transform: translateX(7px);
}

.value-img3 {
  width: 65px;
  height: 60px;
}

.value-img4 {
  width: 65px;
  height: 60px;
}

.p-width-2 {
  width: 100%;
}

.p-width-2 span{
  display: block;
}

.p-width-2 span p{
  display: block;
}

.p-width-3 {
  width: 134%;
}

.p-width-3 span {
  display: block;
}

.methodo-img1 {
  width: 50px;
  height: 50px;
  margin-top: 7px;
}

.methodo-img2 {
  width: 74px;
  height: 50px;
  margin-top: 7px;
}

.methodo-img3 {
  width: 74px;
  height: 59px;
  margin-top: 7px;
}

/*SECTION TEAM*/

.grey-block-4 {
  background-color: #E5E5E5;
  margin-top: 35px;
  margin-bottom: 90px;
  padding: 15px 0 35px 32px;
}

.grey-block-4 ul {
  margin: 10px 20px 0 20px;
}

.team {
  margin-right: 38px;
}

.img-circle {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.img-more {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 65px;
}


/*FOOTER*/
footer * {
  font-weight: lighter;
}

.footer-main {
  background-color: black;
  color: white;
  padding: 18px 70px 32px 66px;
}

.always-left {
  float: left;
  font-size: 11px;
  line-height: 11px;
  margin-left: 10px;
  text-align: left;
}

.always-left a,.always-right a {
  color: white;
  text-decoration: none;
}

.always-left span a {
  margin-right: 30px;
}

.always-right {
  font-size: 11px;
  line-height: 11px;
  float: right;
  text-align: right;
}

.immatriculation-p {
  font-weight: lighter;
}

.footer-arrow {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.footer-arrow-2 {
  position: fixed;
  right: 20px;
  bottom: 140px;
}

a#arrow-position {
    cursor: pointer;
}

#scroll-back-to-top {
  text-align: center;
}


/*MEDIA QUERIES*/

/*1- Small devices (landscape phones, 576px and up)*/
@media(max-width:767px){
  .logo {
    padding-top: 30px;
    margin-left: 20px;
  }
  .img-bell {
    margin: auto;
  }
  .padding-left {
    padding-left: 15px;
  }
  input[type=search] {
    width: 83%;
  }
  .numbers, .perf-review {
    text-align: center;
  }
  .grey-block {
    text-align: -webkit-center;
    margin-bottom: 15px;
  }
  .wallet-black-block {
    margin-left: 15px;
    padding-bottom: 43px;
    width: 94%;
  }
  .wrap {
    padding: 0px 1px 0px 17px;
  }
  .black-line{
    margin-bottom: 19px;
  }
  p .grey-letters {
    width: 81%;
  }
  .white-block-blog {
    height: 219px;
  }
  .black-block-partner {
    height: auto;
  }
  .black-block-partner p {
    padding-bottom: 15px;
  }
  .white-block-style {
    padding-top: 5px;
    margin-right: 15px;
  }
  .white-block-style-2 {
    padding-bottom: 23px;
    display: inline-block;
    width: auto;
    margin-top: 15px;
  }
  .grey-block-3 {
    margin-left: 0;
    padding: 15px 0 15px 18px;
    margin: 15px 0;
  }
  .grey-block-3 .list-inline {
    text-align: -webkit-center;
  }
  .agreement-block {
    padding-bottom: 0;
  }
  .methodo-img2 {
    transform: translateY(-14px);
  }
  .footer-main span a, always-right {
    text-align: center;
    margin: 22px;
  }
  .always-left {
    float: none;
    margin-left: 0px;
    text-align: -webkit-center;
    display: -webkit-box;
  }
  .always-right {
    display: inline-block;
    text-align: center;
    margin: 15px;
  }
  .footer-main {
    padding: 18px 190px 17px 145px;
  }
  .footer-main span a, always-right {
    display: inline-block;
    text-align: -webkit-center;
  }
}

/*Medium devices (tablets, 768px and up)*/

  @media(min-width:768px) {
    .logo {
      padding-top: 22px;
      margin-left: auto;
    }
    input[type=search] {
      width: 45%;
    }
    .grey-block {
      margin-bottom: 15px;
    }
    .grey-block-3 {
      margin-left: 58px;
    }
    .white-block-partner {
      margin-top: 15px;
    }
    .blog-img {
      padding: 15px;
      transform: translateY(-10px);
      text-align: center;
    }
    .white-block-blog {
      padding: 0px;
      margin: 0 10px 10px 10px;
      margin-left: 15px;
    }
    .green-line {
      width: 120px;
      transform: translateY(-6px);
    }
    .value-img3 {
      transform: translateX(20px);
    }
    .value-img4 {
      transform: translateX(30px);
    }
    #proximity {
      transform: translateX(26px);
    }
    .methodologie p {
      font-size: 15px;
    }
    .methodologie {
      display: inline-block;
    }
    .p-width-2 {
      width: 100%;
      width: 85%;
    }
    .wallet-black-block {
      width: 68%;
    }
    .article {
      padding-left: 0;
    }
    .article p {
      font-size: 14px;
      padding-left: 21px;
      text-align: -webkit-auto;
    }
    .white-block-style {
      padding-top: 1px;
      margin-right: 15px;
    }
    .white-block-style-2 {
      margin-top: 15px;
    }
    .agreement-block {
     padding-bottom: 0;
    }
    .black-block-partner {
      padding-bottom: 7px;
    }
    .methodologie {
      margin: 5px;
      margin-right: 34px;
      padding-right: 22px;
      /*width: 23%;*/
      display: inline-block;
    }
    .p-width-2 {
      width: 116%;
    }
  }

/*2- Desktops and laptops*/
    @media(min-width:992px){
    input[type=search] {
      width: 55%;
    }
    .container {
      width: 1030px;
    }
    .figure-month {
      font-size: 7rem;
    }
    .green-line {
    width: 133px;
    }
    .black-block-partner {
      padding-bottom: 16px;
    }
    .grey-block-3 {
    margin-left: 23px;
    }
    .white-block-partner {
      margin-top: 0;
    }
    .white-block-style-2 {
      margin-top: 0;
    }
  }

/*3- very large screen*/
  @media (min-width : 1200px) {
    .wallet-black-block {
      width: 72%;
    }
    .black-block-partner {
      padding-bottom: 23px;
    }
    .wallet-black-block {
      width: 71%;
    }
    .footer-main {
      padding: 18px 196px 32px 197px;
    }
  }
