/*GENERAL*/

.main-title{
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
}

.inline_block {
  display: inline-block;
}

/*NAVBAR*/

/*LOGIN*/

/*#login-page {
  margin-bottom: 25px;
}*/
.login-main-content {
  text-align: center;
}

.login-area {
  background-color: white;
  padding: 40px;
}

.form-area, .subscribe-area {
  background-color: white;
}

.form-area {
  padding-bottom: 15px;
}

.subscribe-area {
  padding-top: 15px;
  padding-bottom: 150px;
  margin-bottom: 5px;
  color: black;
}

#create_count:hover, #pwd_forgotten:hover {
  font-size: 16px;
}

#create_count {
  padding-right: 15px;
}

.block {
  display: block;
}

.alert {
  padding: 0px;
  margin-bottom: 0px;
  border: none;
  border-radius: none;
  line-height: 25px;
}

.label-title {
  font-size: 14px;
  font-weight: lighter;
  display: block;
  color: black;
  text-transform: uppercase;
}

input {
  border: none;
}

input[type=text], [type=password], [type=email] {
  border-bottom: solid 1px #888;
  width: 250px;
}

#submit {
  margin-top: 25px;
  /*margin-bottom: 15px;*/
}

#login {
  text-transform: uppercase;
  font-size: 14px;
  padding: 3px 15px;
}

/*SUBSCRIBE PAGE*/

#subscribe {
  font-size: 14px;
  padding: 3px 15px;
}

#subs-submit {
  margin-top: 35px;
  padding-bottom: 45px;
}

/*ACCOUNT CREATED PAGE*/
.padding_b {
  padding-bottom: 20px;
}

/*REINIT ERROR*/
.margin_b {
  margin-bottom: 90px;
}

/*footer*/
.footer-main {
  padding: 18px 70px 32px 66px;
}
