/*body {
  background-color: white;
}*/

.filters label {
  display: block;
  font-weight: 600;
  font-size: 13px;
  padding-bottom: 2px;
}

.filters {
  margin: 40px 0 0 0;
  padding: 0;
}

.filters input[type=text] {
  border-color: #1044FF;
  border-style: solid;
  width: 100%;
}

.filter-search {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 7px;
}

.filter-1 {
  float: left;
  padding-left: 0;
}

.filter-4 {
  float: right;
  padding-right: 0;
}

#filter-search {
  background-color: black;
  color: white;
  margin-bottom: 15px;
  padding-left: 45px;
  padding-right: 45px;
}

.black-line-products {
  padding-bottom: 5px;
  margin-bottom: 70px;
  border-bottom: 3px solid black;
}

.checkbox {
  margin-top: 0;
  margin-bottom: 0;
}

.checkbox label {
  font-size: 14px;
  font-weight: 100;
}

.light-letter {
  text-transform: uppercase;
  font-weight: 400;
  color: black;
  text-decoration: none!important;
}

.prod-list {
  margin: 25px 0;
}

.product-img {
  border: 1px solid #000;
  width: 127px;
  height: 176px;
  margin-bottom: 25px;
}

.product-title {
  text-decoration: none;
  color: black;
  font-size: 13px;
  line-height: 13px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0
}

.product-brand {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0
}

.strong-blue {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  margin-bottom: -5px;
  color: #1044FF;
  margin-top: 8px;
}

.product-p {
  display: block;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

.term-sheet-row, .padding_zero {
  padding: 0;
}

.term-sheet-img {
  height: 24px;
}

.term-sheet-prod {
  text-transform: uppercase;
  margin-left: 8px;
  display: block;
}

.pagination {
  float: right;
}

.pagination > .active {
  background-color: color: #1044FF;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
