/*body {
  background-color: white;
}*/

/*.container {
  padding: 0;
}*/

.filters label {
  display: block;
  font-weight: 600;
  font-size: 13px;
  padding-bottom: 2px;
}
.radio label, .checkbox label {
  padding-left: 0 !important;
}

#product-trash {
    position: absolute;
    top: -30px;
    right: 0px;
}

.filters {
  margin: 40px 0 0 0;
  padding: 0;
}

.filters input[type=text] {
  border-color: #1044FF;
  border-style: solid;
  width: 100%;
}

.filter-search {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 7px;
}

.filter-1 {
  float: left;
  padding: 15px;
}

.filter-2 {
  padding-right: 0;
  padding: 15px;
}

.filter-3 {
  padding-left: 0;
  padding: 15px;
}

.filter-4 {
  float: right;
  padding-right: 0;
  padding: 15px;
}

#filter-search {
  background-color: black;
  color: white;
  margin-bottom: 15px;
  padding-left: 45px;
  padding-right: 45px;
}

.black-line-products {
  padding-bottom: 5px;
  border-bottom: 3px solid black;
}

.checkbox {
  margin-top: 0;
  margin-bottom: 0;
}

.checkbox label {
  font-size: 14px;
  font-weight: 100;
}

.light-letter {
  text-transform: uppercase;
  font-weight: 400;
  color: black;
  text-decoration: none!important;
}

.my-product-header, .big-blue-letters {
  padding: 35px 0;
}

.prod-list {
  margin: 25px 0;
}

.product-list {
  margin-top: 60px;
}

.product-img {
  border: 1px solid #000;
  width: 127px;
  height: 176px;
  margin-bottom: 14px;
}

.product-title {
  text-decoration: none;
  color: black;
  font-size: 13px;
  line-height: 13px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0
}

.product-brand {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0
}

.strong-blue {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  margin-bottom: -5px;
  color: #1044FF;
  margin-top: 8px;
}

.product-p {
  display: block;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

.prod-black-separator {
  padding-top: 25px;
  padding-bottom: 40px;
  margin-bottom: 30px;
  margin-top: 15px;
  border-bottom: 2px solid black;
}

.btn {
  text-decoration: none;
  background-color: #F2F2F2;
  padding: 5px;
}

.grey-uppercase {
  padding-left: 0;
}

.term-sheet-row, .padding_zero {
  padding: 0;
}

.term-sheet-img {
  height: 24px;
}

.term-sheet-prod {
  text-transform: uppercase;
  margin-left: 8px;
  display: block;
}

#pagination-section {
  margin-top: 20px;
}

.pagination {
  float: right;
}

.pagination > .active {
  background-color: color: #1044FF;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.uppercase {
  text-transform: uppercase;
}

/*MY PRODUCT*/

.my-product-title {
  padding-left: 15px;
}

.product-wrapper {
  padding: 0;
}

.panel-group {
  margin-bottom: 5px;
}

.product-body, .product-row {
  padding: 0;
}

.add-to-wallet {
  float: right;
}

.hovered {
  display: block;
}

.product-detail-title a:focus  {
  color: color: #585858;
  text-decoration: none;
}

.product-detail-title:hover {
  color: black;
  font-weight: 800;
}

.product-item {
  padding-bottom: 45px;
}

/*QUERIES*/

@media only screen and (max-width:760px){
    #product-trash {
      position: absolute;
      top: 0px;
      right: 0px;
    }
    .my-product-title {
      text-align: center;
    }
    .product-body {
      text-align: center;
    }
    #img-product {
      text-align: center;
    }
    #accor-product {
      width: 142px;
      height: 178px;
      margin-bottom: 7px;
    }
    .term-sheet-list {
      float: none;
      text-align: center;
    }
}

@media only screen and (min-device-width : 500px) and (max-device-width : 600px){
  .panel-group {
    width: 70%;
    margin: 0 auto;
  }
}

@media only screen and (min-device-width : 600px) and (max-device-width : 760px){
  .panel-group {
    width: 60%;
    margin: 0 auto;
  }
}

@media only screen and (max-width:990px){
    .blue-uppercase {
      font-size: 14px;
    }
}
