.wallet-header {
  margin-bottom: 60px;
}

.wallet-wrapper {
  padding: 0;
}

#user-img {
  border: 1px solid black;
  background-color: #F2F2F2;
  font-size: 16px;
  font-size: 27px;
  padding: 5px;
  float: right;
 }

.panel-body {
  margin: 0;
}

.product-wallet-title {
  padding: 0;
}

.modal-body input {
  border: 2px solid blue;
  border-radius: 0;
 }

 .form-group button, .modal-footer button  {
   border-radius: 0;
   background-color: white;
   padding: 5px 15px;
}

.blue-uppercase {
  color: blue;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 16px;
}

.term-sheet {
  display: block;
  margin: 0 0 5px 0;
}

#wallet-products {
  margin-bottom: 85px;
}

img#document {
  height: 30px;
}

.big-blue-letters {
  color: blue;
  font-size: 16px;
  text-transform: uppercase;
}

#accordion-wallet-1 {
  padding-bottom: 60px;
}

#add-product {
  margin: 3px;
  width: 30px;
  cursor: pointer;
  display: inline-block;
}

#empty {
  font-size: 14px;
  font-style: italic;
}

#product-wallet-trash {
  position: absolute;
  top: -28px;
  right: 14px;
  color: black;
}

#product-trash-xs {
  position: absolute;
  top: 48px;
  right: 0px;
  color: black;
}

.product-row {
  margin-left: -4px;
}

.term-sheet-list {
  padding-left: 0px;
  text-transform: uppercase;
}

@media only screen and (max-width:760px){
  .container {
    margin-top: 45px;
  }
  .add-product {
    text-align: center;
  }
  .product-wallet-title {
    text-align: center;
    padding-bottom: 15px;
  }
  #img-wallet-product {
    text-align: center;
  }
  .term-sheet-list {
    padding-left: 9px;
  }
}


@media only screen and (min-device-width : 767px) and (max-device-width : 990px){
  #term-sheet {
    position: absolute;
    bottom: 82px;
    left: 15px;
  }
}
