.wallet-header {
  margin-bottom: 60px;
}

.add-product {
  padding-bottom: 45px;
}

.wallet-wrapper {
  padding: 0;
}

.blue-uppercase {
  color: blue;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 16px;
}

.term-sheet {
  display: block;
  margin: 0 0 5px 0;
}

img#document {
  height: 30px;
}

.big-blue-letters {
  color: blue;
  font-size: 16px;
  text-transform: uppercase;
}

#add-product {
  margin: 3px;
  width: 30px;
  cursor: pointer;
  display: inline-block;
}


@media only screen and (min-device-width : 767px) and (max-device-width : 990px){
  #wallet-trash {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  #term-sheet {
    position: absolute;
    bottom: 82px;
    left: 15px;
  }
}
