.wallet-header {
  margin-bottom: 60px;
}

.add-product {
  padding-bottom: 45px;
}

.wallet-wrapper {
  padding: 0;
}

.fa-trash-o {
  position: absolute;
  top: 0px;
  right: 15px;
}

.blue-uppercase {
  color: blue;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 16px;
}

#document {
  height: 30px;
}

#marketing {
  position: absolute;
  bottom: 19px;
  left: 47px;
  padding-bottom: 5px;
}

.big-blue-letters {
  color: blue;
  font-size: 16px;
  text-transform: uppercase;
}

#add-product {
  margin: 3px;
  width: 30px;
  cursor: pointer;
  display: inline-block;
}


@media only screen and (min-device-width : 767px) and (max-device-width : 990px){
  .fa-trash-o {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  #marketing {
    position: absolute;
    bottom: 14px;
    left: 16px;
  }
  #term-sheet {
    position: absolute;
    bottom: 82px;
    left: 15px;
  }
}
