<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="fr">
  	<meta charset="UTF-8" />
	<title>EAVEST Back-Office</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

	<link rel="stylesheet" href="/css/admin/back-office.css" type="text/css" media="all"/>
	<!--
	<link rel="stylesheet" href="../css/login.css" type="text/css" media="all"/>
	 -->

   <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
	<section class="top-header-absolute">
		<header class="main">
      		<div class="left-block"></div>
			<div class="wrapper">
				<h1>
					<img src="/img/eavest-logo.png" alt="Eavest" />
				</h1>

				<nav class="nav-menu">
          <ul class="navbar list-inline list-unstyled">
            <li id="menu-bo-home"><a href="http://localhost:8080/admin/">Home B-O</a></li>
						<li id="menu-bo-sousjacent"><a href="http://localhost:8080/admin/createSsjacent">Sous-jacents</a></li>
            <li id="menu-bo-tests"><a href="http://localhost:8080/admin/tests">Produits</a></li>
            <li id="menu-bo-user"><a href="http://localhost:8080/admin/accounts">Comptes utilisateur</a></li>
    			</ul>
				</nav>
			</div>
			<div class="language-switcher">
		        <span class="global-linker">
	    	      	<a href="/home">Home</a>
		        </span>
		    </div>

		</header>

		<div class="slider jquery" style="display: block;">
			<div class="slider-container"></div>
		</div>
	</section>
	<section class="content-main" role="main">
	    <div class="main-area">
	      <h1>Back-office du site EAVEST</h1>
        <p th:text="${responseMessage}"/>
	      <div class="main-form">
          <form name="param-form" th:action="@{/admin}" th:object="${product}" method="POST">
            <label for="isin" th:text="#{bo.product.best.seller}">Produit best-seller (code ISIN)</label>
            <input id="isin" type="text" name="isin" th:field="*{isin}"/>

            <input type="submit" value="Valider" class="btn btn-primary" />
          </form>
	      </div>

        <div class="main-form">
          <form name="news-form" th:action="@{/admin}" th:object="${newsOfMonth}" method="POST">
            <div>
              <label for="nb-month" th:text="#{bo.news.number}">Chiffre du mois</label>
              <input id="nb-month" type="text" name="nb-month" th:field="*{numberOfTheMonth}" pattern=".{1,6}" required="true" title="Le chiffre du mois ne doit pas dépasser 6 caractères"/>

              <label for="txt-month" th:text="#{bo.news.text}">Texte relatif</label>
              <textarea id="txt-month" name="txt-month" th:field="*{textOfTheMonth}" form="news-form" th:placeholder="#{bo.news.content}" placeholder="Texte associé au chiffre du mois" maxlength="200"></textarea>
            </div>

            <input type="submit" value="Valider" class="btn btn-primary" />
          </form>
	      </div>

        <div class="main-form">
          <form name="article-form" th:action="@{/admin}" th:object="${highlightArticles}" method="POST">
            <div>
              <h2 th:text="#{bo.left.article}"></h2>
              <label for="left-url" th:text="#{bo.article.url}">Article positionné à gauche</label>
              <input id="left-url" type="url" name="left-url" th:field="*{leftArticleUrl}"/>

              <label for="left-title" th:text="#{bo.article.title}">Article positionné à gauche</label>
              <input id="left-title" type="text" name="left-title" th:field="*{leftArticleTitle}" maxlength="80"/>

              <label for="left-date" th:text="#{bo.article.date}">Article positionné à gauche</label>
              <input id="left-date" type="date" name="left-date" th:field="*{leftArticleReleaseDate}"/>

              <label for="left-author" th:text="#{bo.article.author}">Article positionné à gauche</label>
              <input id="left-author" type="text" name="left-author" th:field="*{leftArticleAuthor}"/>

              <label for="left-content" th:text="#{bo.article.content}">Article positionné à gauche</label>
              <textarea name="left-content" th:field="*{leftArticleContent}" form="article-form" th:placeholder="#{bo.article.content}" placeholder="Contenu de l'article" maxlength="200">Contenu de l'article</textarea>
              <!--
              <label for="left-content" th:text="#{bo.article.content}">Article positionné à gauche</label>
              <input id="left-content" type="text" name="left-content" th:field="*{leftArticleContent}"/>
            -->
            </div>
            <div>
              <h2 th:text="#{bo.right.article}"></h2>
              <label for="right-url" th:text="#{bo.article.url}">Article positionné à droite</label>
              <input id="right-url" type="url" name="right-url" th:field="*{rightArticleUrl}"/>

              <label for="right-title" th:text="#{bo.article.title}">Article positionné à gauche</label>
              <input id="right-title" type="text" name="right-title" th:field="*{rightArticleTitle}" maxlength="80"/>

              <label for="right-date" th:text="#{bo.article.date}">Article positionné à gauche</label>
              <input id="right-date" type="date" name="right-date" th:field="*{rightArticleReleaseDate}"/>

              <label for="right-author" th:text="#{bo.article.author}">Article positionné à gauche</label>
              <input id="right-author" type="text" name="right-author" th:field="*{rightArticleAuthor}"/>

              <label for="right-content" th:text="#{bo.article.content}">Article positionné à gauche</label>
              <textarea name="right-content" th:field="*{rightArticleContent}" form="article-form" th:placeholder="#{bo.article.content}" placeholder="Contenu de l'article" maxlength="120"></textarea>
<!--
              <label for="right-content" th:text="#{bo.article.content}">Article positionné à gauche</label>
              <input id="right-content" type="text" name="right-content" th:field="*{rightArticleContent}"/>
            -->
            </div>

            <input type="submit" value="Valider" class="btn btn-primary" />
          </form>
        </div>
	    </div>

	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
