<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="fr">
  	<meta charset="UTF-8" />
	<title>EAVEST Back-Office</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

	<link rel="stylesheet" href="/css/admin/back-office.css" type="text/css" media="all"/>
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css" />
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
	<section class="top-header-absolute">
		<header class="main">
      		<div class="left-block"></div>
			<div class="wrapper">
				<h1>
					<img src="/img/eavest-logo.png" alt="Eavest" />
				</h1>

        <nav class="nav-menu">
          <ul class="navbar list-inline list-unstyled">
            <li id="menu-bo-home"><a href="http://localhost:8080/admin/">Home B-O</a></li>
						<li id="menu-bo-sousjacent"><a href="http://localhost:8080/admin/createSsjacent">Sous-jacents</a></li>
            <li id="menu-bo-tests"><a href="http://localhost:8080/admin/tests">Produits</a></li>
            <li id="menu-bo-user"><a href="http://localhost:8080/admin/accounts">Comptes utilisateur</a></li>
    			</ul>
				</nav>
			</div>
			<div class="language-switcher">
		        <span class="global-linker">
	    	      	<a href="/home">Home</a>
		        </span>
		    </div>

		</header>

		<div class="slider jquery" style="display: block;">
			<div class="slider-container"></div>
		</div>
	</section>
	<section class="content-main" role="main">
    <div class="main-area">
      <h1>Comptes EAVEST</h1>
    </div>

    <div class="list-area">
      <h1>Liste des comptes</h1>
      <div class="main-table">
        <table id="account-list" class="display" cellspacing="0">
          <thead>
            <tr>
              <th th:text="#{bo.account.email}">E-mail</th>
              <th th:text="#{bo.account.enabled}">Statut</th>
              <th th:text="#{bo.account.last.name}">Nom</th>
              <th th:text="#{bo.account.first.name}">Prénom</th>
              <th th:text="#{bo.account.alias.name}">Alias</th>
              <th th:text="#{bo.account.company}">Société</th>
              <th th:text="#{bo.account.country}">Pays</th>
              <th th:text="#{bo.account.mobile}">Num portable</th>
              <th th:text="#{bo.account.fix}">Num fixe</th>
              <th th:text="#{bo.account.newsletter}">Newsletter</th>
              <th th:text="#{bo.account.prd.user}">Id PrdUser</th>
              <th th:text="#{bo.products.update}">Mettre à jour</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="account : ${accounts}">
              <td th:text="${account.email}">tco@example.com</td>
              <td th:text="${account.enabled}">true</td>
              <td th:text="${account.lastName}">DURAND</td>
              <td th:text="${account.firstName}">Franck</td>
              <td th:text="${account.aliasName}">The_beast</td>
              <td th:text="${account.company}">Example Corp</td>
              <td th:text="${account.country}">Somewhere</td>
              <td th:text="${account.mobilePhone}">07123456</td>
              <td th:text="${account.fixPhone}">01234567</td>
              <td th:text="${account.newsletter}">true</td>
              <td th:if="${account.prdUser}" th:text="${account.prdUser.id}">xxx</td>
              <td th:unless="${account.prdUser}" th:text="${account.prdUser}">xxx</td>
              <td>
                <form th:if="${account.enabled} == false" action="#" th:action="@{/admin/accounts/{id}/activate(val=${true}, id=${account.id})}" method="POST">
                  <input class="btn btn-secondary btn-sm" type="submit" th:value="#{bo.acc.activate}" value="activer" />
                </form>
                <form th:if="${account.enabled} == true" action="#" th:action="@{/admin/accounts/{id}/activate(val=${false}, id=${account.id})}" method="POST">
                  <input class="btn btn-secondary btn-sm" type="submit" th:value="#{bo.acc.deactivate}" value="desactiver" />
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
  <script src="/js/admin/data-table-example.js"></script>
</body>
</html>
