<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="fr">
  	<meta charset="UTF-8" />
	<title>EAVEST Back-Office - create product</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

	<link rel="stylesheet" href="/css/admin/bo-product.css" type="text/css" media="all"/>
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css" />
</head>
<body>
	<section class="top-header-absolute">
		<header class="main">
      		<div class="left-block"></div>
			<div class="wrapper">
				<h1>
					<img src="/img/eavest-logo.png" alt="Eavest" />
				</h1>

        <nav class="nav-menu">
          <ul class="navbar list-inline list-unstyled">
            <li id="menu-bo-home"><a href="http://localhost:8080/admin/">Home B-O</a></li>
						<li id="menu-bo-sousjacent"><a href="http://localhost:8080/admin/createSsjacent">Sous-jacents</a></li>
            <li id="menu-bo-tests"><a href="http://localhost:8080/admin/tests">Produits</a></li>
            <li id="menu-bo-user"><a href="http://localhost:8080/admin/accounts">Comptes utilisateur</a></li>
    			</ul>
				</nav>
			</div>
			<div class="language-switcher">
		        <span class="global-linker">
	    	      	<a href="/home">Home</a>
		        </span>
		    </div>

		</header>

		<div class="slider jquery" style="display: block;">
			<div class="slider-container"></div>
		</div>
	</section>
	<section class="content-main" role="main">
	    <div class="main-area">
	      <h1>Créer un produit</h1>
	      <p th:text="${responseMessage}"/>
	      <div class="main-form">
	        <form name="form" th:action="@{/admin/createProduct}" th:object="${product}" action="/admin/createProduct" method="POST">
	          <label for="isin">Isin</label>
	          <input id="isin" type="text" name="isin" th:field="*{isin}" required="required"/>

	          <label for="label">Libellé</label>
	          <input id="label" type="text" name="label" th:field="*{label}" />

	          <label for="sous-jacent">Sous-jacent</label>
	          <select th:field="*{idPrdSousJacent}">
	          	<option th:each="ssjacent : ${ssjacents}"
	          			th:value="${ssjacent.id}"
	          			th:text="${ssjacent.label}">Underlying asset</option>
	          </select>

	          <label for="launch-date">Date d'émission</label>
	          <input id="launch-date" type="date" name="launch-date" th:field="*{launchDate}" />

	          <label for="due-date">Date d'échéance</label>
	          <input id="due-date" type="date" name="due-date" th:field="*{dueDate}" />

            <label for="strike">Strike</label>
	          <input id="strike" type="number" name="strike" step="0.01" th:field="*{strike}" />

            <label for="remb">Barrière de rappel (%)</label>
	          <input id="remb" type="number" name="remb" min="0" max="100" step="0.01" th:field="*{reimbursementBarrier}" />

            <label for="protect">Barrière de protection (%)</label>
	          <input id="protect" type="number" name="protect" min="0" max="100" step="0.01" th:field="*{protectionBarrier}" />

	          <label for="coupon">Barrière de coupon (%)</label>
	          <input id="coupon" type="number" name="coupon" min="0" max="100" step="0.01" th:field="*{couponBarrier}" />

	          <label for="coupon">Valeur de coupon (%)</label>
	          <input id="coupon" type="number" name="coupon" min="0" max="100" step="0.01" th:field="*{couponValue}" />

            <label for="frqcy">Fréquence d'observation</label>
	          <input id="frqcy" type="text" name="frqcy" th:field="*{observationFrequency}" />

            <!--
	          <label for="nominal">Valeur nominale</label>
	          <input id="nominal" type="number" name="nominal" th:field="*{nominalValue}" />

	          <label for="start-price">Prix d'emission (%)</label>
	          <input id="start-price" type="number" name="start-price" th:field="*{startPrice}" />

	          <label for="subscription-start">Date de début de souscription</label>
	          <input id="subscription-start" type="date" name="subscription-start" th:field="*{subscriptionStartDate}" />

	          <label for="subscription-end">Date de fin de souscription</label>
	          <input id="subscription-end" type="date" name="subscription-end" th:field="*{subscriptionEndDate}" />

	          <label for="deliver">Emetteur</label>
	          <input id="deliver" type="text" name="deliver" th:field="*{deliver}" />

	          <label for="guarantor">Garant</label>
	          <input id="guarantor" type="text" name="guarantor" th:field="*{guarantor}" />
          -->

            <label for="deliver">Emetteur</label>
            <input id="deliver" type="text" name="deliver" th:field="*{deliver}" />

            <label for="cb-eavest">Produit EAVEST</label>
	          <input id="cb-eavest" type="checkbox" name="cb-eavest" th:field="*{isEavest}" />

            <label for="end-date">Date de fin</label>
	          <input id="end-date" type="date" name="end-date" th:field="*{endDate}" />

	          <input type="submit" value="Créer produit" class="btn btn-primary" />
	        </form>

	      </div>
	    </div>

	    <div class="list-area">
	      <h1>Liste des produits</h1>
	      <div class="main-table">
          <table id="product-list" class="display" cellspacing="0">
            <thead>
      				<tr>
      				  <th th:text="#{bo.products.id}">Id</th>
      				  <th th:text="#{bo.products.isin}">ISIN</th>
      				  <th th:text="#{bo.products.label}">Label</th>
                <th th:text="#{bo.products.bank.name}">Emetteur</th>
                <th th:text="#{bo.products.base}">Sous-jacent</th>
                <th>Date d'emission</th>
                <th>Date d'échéance</th>
                <th th:text="#{bo.products.end.date}">Date de fin</th>
      				  <th th:text="#{bo.products.update}">Mettre à jour</th>
      				  <th th:text="#{bo.products.delete}">Supprimer</th>
      				</tr>
            </thead>
            <tbody>
      				<tr th:each="product : ${products}">
      				  <td th:text="${product.id}">Id du produit</td>
      				  <td th:text="${product.isin}">ISIN</td>
      				  <td th:text="${product.label}">Label du produit</td>
                <td th:text="${product.deliver}">Société Générale</td>
      				  <td th:text="${product.prdSousJacent.label}">Label du sous-jacent</td>
                <td th:text="${product.launchDate}">dd/MM/yyyy</td>
                <td th:text="${product.dueDate}">dd/MM/yyyy</td>
                <td th:text="${product.endDate}">dd/MM/yyyy</td>
      				  <td>
                  <form action="#" th:action="@{/admin/products/{id}/update(id=${product.id})}" method="GET">
                    <input class="btn btn-secondary btn-sm" type="submit" th:value="#{bo.products.update}" value="update" />
                  </form>
                </td>
                <td>
                  <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#deletePrd" th:attr="data-target='#deletePrd' + ${product.id}"><span th:value="#{bo.products.delete}">delete</span></button>
                  <!-- Modal -->
                  <div class="modal" id="deletePrd" th:id="'deletePrd' + ${product.id}" role="dialog">
                    <div class="modal-dialog">
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close display-info" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title" th:text="#{bo.prd.delete.title}">Suppression de produit</h4>
                        </div>
                        <div class="modal-body">
                          <p><span th:text="#{bo.prd.delete.info}">Vous êtes sur le point de faire une méga connerie</span> : <span th:text="${product.label}"></span></p>
                          <p><span th:text="#{bo.prd.delete.confirm}">Some text in the modal.</span></p>
                        </div>
                        <div class="modal-footer">
                          <form action="#" th:action="@{/admin/products/{id}/delete(id=${product.id})}" method="POST">
                            <input class="btn btn-secondary btn-sm" type="submit" th:value="#{bo.products.delete}" value="delete" />
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
      				</tr>
            </tbody>
    			</table>
        </div>
      </div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
  <script src="/js/admin/data-table-example.js"></script>
</body>
</html>
