<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8] <html class="no-js"> <![endif]-->
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Eavest</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width" />

		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Quicksand:400,300,700" />
		<link rel="stylesheet" href="css/normalize.min.css" />
		<link rel="stylesheet" href="css/main.css" />

		<script src="js/vendor/modernizr-2.6.2.min.js"></script>
 	</head>
	<body>
		<!--[if lt IE 7]>
			<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
		<![endif]-->

		<header class="main">
			<div class="wrapper">
				<h1>
					<a href=""><img src="img/eavest-logo.png" alt="Eavest" /></a>
				</h1>

				<nav>
					<ul>
						<li><a href="" class="active">Home</a></li>
						<li><a href="">Produits</a></li>
						<li><a href="">Services</a></li>
						<li><a href="">Track Records</a></li>
						<li><a href="">Presse</a></li>
						<li><a href="">Contact</a></li>
					</ul>
				</nav>
			</div>
		</header>

		<div class="slider">
			<div class="wrapper">
				<h3>&laquo;La distribution vdes produits structurés
					en 2014 : conseil, transparence
					et indépendance.&raquo;</h3>
				<div class="author">Investance &raquo; the year ahead 2014 / Janvier 2014</div>
			</div>
		</div>

		<div class="content-main" role="main">
			<div class="wrapper">
				<div class="description">
					<p>Etro Catiaet consultortem pubit; nonferf icuppl. Fora? Verius ego tus, civicie quonul videtre involis uludeorurs etrum esimissolist publissulto vid inam utemnes atis revir ublius, C. At. Es vius a interenat quit; egerbis soltium am, supions ulabute atiliam Patiusatus es pro, nestrae simuspernimo vessuli cessupicis, patquium avem tante temovernum ia opubiteris labusqu onderisquam der ad culatris, ut ignonfena, quitati quamero consunt poentea medi sedea movere, urionloctor que atiquidit, sperivi catquam nultilintes inem perem ti, vivereo runteberem pre nerninatque noctem, niquam elium a novilnequo consum quam Palabit clem, nicaectatius ignam et; nossente co contemenate conost </p>
				</div>

				<nav class="secondary">
					<ul class="subpages">
						<li><a href="#notre-metier" class="a-notre-metier">Notre métier</a></li>
						<li><a href="#nos-valeurs-ajoutees" class="a-nos-valeurs-ajoutees">Nos valeurs ajoutées</a></li>
						<li><a href="#notre-equipe" class="a-notre-equipe">Notre équipe</a></li>
						<li><a href="#nos-partenaires" class="a-nos-partenaires">Nos partenaires</a></li>
						<li><a href="#notre-agrement" class="a-notre-agrement">Notre agrément</a></li>
					</ul>
				</nav>

				<section class="subpage" id="notre-metier">
					<h2>Notre métier</h2>
					<div class="subpage-content">
						<p>Etro Catiaet consultortem pubit; nonferf icuppl. Fora? Verius ego tus, civicie quonul videtre involis uludeorurs etrum esimissolist publissulto vid inam utemnes atis revir ublius, C. At. Es vius a interenat quit; egerbis soltium am, supions ulabute atiliam Patiusatus es pro, nestrae simuspernimo vessuli cessupicis, patquium avem tante temovernum ia opubiteris labusqu onderisquam der ad. </p>
					</div>
				</section>

				<section class="subpage" id="nos-valeurs-ajoutees">
					<h2>Nos valeurs ajoutées</h2>
					<div class="subpage-content">
						<p>Etro Catiaet consultortem pubit; nonferf icuppl. Fora? Verius ego tus, civicie quonul videtre involis uludeorurs etrum esimissolist publissulto vid inam utemnes atis revir ublius, C. At. Es vius a interenat quit; egerbis soltium am, supions ulabute atiliam Patiusatus es pro, nestrae simuspernimo vessuli cessupicis, patquium avem tante temovernum ia opubiteris labusqu onderisquam der ad. </p>
					</div>
				</section>

				<section class="subpage" id="notre-equipe">
					<h2>Notre équipe</h2>
					<div class="subpage-content">
						<p>Etro Catiaet consultortem pubit; nonferf icuppl. Fora? Verius ego tus, civicie quonul videtre involis uludeorurs etrum esimissolist publissulto vid inam utemnes atis revir ublius, C. At. Es vius a interenat quit; egerbis soltium am, supions ulabute atiliam Patiusatus es pro, nestrae simuspernimo vessuli cessupicis, patquium avem tante temovernum ia opubiteris labusqu onderisquam der ad. </p>
					</div>
				</section>

				<section class="subpage" id="nos-partenaires">
					<h2>Nos partenaires</h2>
					<div class="subpage-content">
						<p>Etro Catiaet consultortem pubit; nonferf icuppl. Fora? Verius ego tus, civicie quonul videtre involis uludeorurs etrum esimissolist publissulto vid inam utemnes atis revir ublius, C. At. Es vius a interenat quit; egerbis soltium am, supions ulabute atiliam Patiusatus es pro, nestrae simuspernimo vessuli cessupicis, patquium avem tante temovernum ia opubiteris labusqu onderisquam der ad. </p>
					</div>
				</section>

				<section class="subpage" id="notre-agrement">
					<h2>Notre agrément</h2>
					<div class="subpage-content">
						<p>Etro Catiaet consultortem pubit; nonferf icuppl. Fora? Verius ego tus, civicie quonul videtre involis uludeorurs etrum esimissolist publissulto vid inam utemnes atis revir ublius, C. At. Es vius a interenat quit; egerbis soltium am, supions ulabute atiliam Patiusatus es pro, nestrae simuspernimo vessuli cessupicis, patquium avem tante temovernum ia opubiteris labusqu onderisquam der ad. </p>
					</div>
				</section>
			</div>
		</div>

		<footer class="main">

			<small class="always-right">
				<a class="strong">fmagne@eavest.com</a> | <a>+33 (1) 42 80 21 99</a> | <a>+33 (6) 30 07 36 85</a>
			</small>

			<div class="wrapper">
				<strong>EAVEST</strong> DERRIF GEROP JERKO DAREGTFY BVHTUYHUI DERGOSU</div>

			</div>
		</footer>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/libs/jquery-1.10.1.min.js"><\/script>')</script>

		<script src="js/extra.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>
