<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="fr">
  	<meta charset="UTF-8" />
	<title>EAVEST Back-Office</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

	<link rel="stylesheet" href="../css/admin/back-office.css" type="text/css" media="all"/>
	<!--
	<link rel="stylesheet" href="../css/login.css" type="text/css" media="all"/>
	 -->
</head>
<body>
	<section class="top-header-absolute">
		<header class="main">
      		<div class="left-block"></div>
			<div class="wrapper">
				<h1>
					<img src="../img/eavest-logo.png" alt="Eavest" />
				</h1>

				<nav class="nav-menu">
					<ul id="menu-main-menu-francais0" class="nav-menu">
            <li id="menu-item-0" class="menu-item"><a href="http://localhost:8080/admin/">Home B-O</a></li>
						<li id="menu-item-1" class="menu-item"><a href="http://localhost:8080/admin/createSsjacent">Sous-jacents</a></li>
            <li id="menu-item-2" class="menu-item"><a href="http://localhost:8080/admin/createProduct">Produits</a></li>
						<li id="menu-item-3" class="menu-item"><a href="#">Autre chose</a></li>
					</ul>
				</nav>
			</div>
			<div class="language-switcher">
		        <span class="global-linker">
	    	      	<a href="/home">Home</a>
		        </span>
		    </div>

		</header>

		<div class="slider jquery" style="display: block;">
			<div class="slider-container"></div>
		</div>
	</section>
	<section class="content-main" role="main">
	    <div class="main-area">
	      <h1>Liste des sous-jacents</h1>
	      <div class="main-table">
			<table>
				<tr>
				  <th th:text="#{i18n.code.ssjct.id}">Id</th>
				  <th th:text="#{i18n.code.ssjct.label}">Label</th>
				  <th th:text="#{i18n.code.ssjct.create.date}">Date de création</th>
				  <th th:text="#{i18n.code.ssjct.update.date}">Date de mise à jour</th>
				</tr>
				<tr th:each="ssjct : ${ssjacents}">
				  <td th:text="${ssjct.id}">Id du sous-jacent</th>
				  <td th:text="${ssjct.label}">Label du sous-jacent</th>
				  <td th:datetime="${ssjct.createdAt}">Id du sous-jacent</th>
				  <td th:datetime="${ssjct.updatedAt}">Label du sous-jacent</th>
				</tr>
			</table>
	      </div>
	    </div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
