<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head lang="fr">
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title th:text="#{eav.site.title}">EAVEST, Produits structurés et alternatifs</title>

	<!-- FAVICON -->
	<link href="/ico/favicon.ico" rel="icon" type="image/ico" />

	<!-- SOURCES -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" /> -->
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />

	<link rel="stylesheet" type="text/css" href="/css/home.css" />
	<link rel="stylesheet" type="text/css" href="/css/wallet.css" />
	<link rel="stylesheet" type="text/css" href="/css/products.css" />


	<!-- COMPATIBILITE IE8 -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	<!-- META -->
	<!-- All in One SEO Pack 2.3.9.1 by Michael Torbert of Semper Fi Web Design[513,671] -->
	<!-- <meta name="description" itemprop="description" content="Cabinet de conseil spécialisé en produits structurés et alternatifs - Paris +33 (1) 42 80 21 99" /> -->
</head>

<body>

	<!-- NAVBAR -->

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="nav">
				<div class="col-md-12 center-block">
					<h1><img src="/img/eavest-logo.png" alt="Eavest" class="center-block img-responsive logo"/></h1>
				</div>
				<div class="language-switcher navbar-right">
					<a th:unless="${#authorization.expression('isAuthenticated()')}" href="http://localhost:8080/login" class="italicized grey-letters auth" th:text="#{eav.login}">Connexion</a>
					<a href="#" th:text="${authUserName}" class="italicized auth">Nom de l'utilisateur</a>
					<span id="socials">
						<a href="https://twitter.com/EAVEST_"><i class="fa fa-twitter"></i></a>
						<a href="/wallet/?lang=fr" class="language">fr</a>/<a href="/wallet/?lang=en" class="language">en</a>
					</span>
					<div class="zone-transit">
						<span sec:authorize="isAuthenticated()">
							<form th:action="@{/logout}" method="post">
								<input type="submit" value="Sign Out" th:value="#{eav.sign.out}" class="btn btn-default log" />
							</form>
						</span>
						<span sec:authorize="hasRole('ROLE_ADMIN')">
							<form th:action="@{/admin}" method="get">
								<input type="submit" value="Back Office" class="btn btn-default log" />
							</form>
						</span>
					</div>
				</div>

			</div>

			<div class="col-md-12 container-fluid navbar">
				<ul class="navbar list-inline list-unstyled">
        	<li id="menu-home"><a href="/home" th:text="#{eav.menu.home}">Home</a></li>
          <li id="menu-wallet" class="selected"><a href="/wallet" th:text="#{eav.menu.wallet}">Mon Portefeuille</a></li>
          <li id="menu-method"><a href="http://eavest.com/methodologie-2/" th:text="#{eav.menu.methodology}">Methodologie</a></li>
          <li id="menu-mesure"><a href="http://eavest.com/sur-mesure/" th:text="#{eav.menu.handmade}">sur-mesure</a></li>
          <li id="menu-products"><a href="/products" th:text="#{eav.menu.products}">Produits</a></li>
					<li id="menu-blog"><a href="http://eavest.com/category/blog/" th:text="#{eav.menu.blog}">Le Blog</a></li>
					<li id="menu-faq"><a href="http://eavest.com/f-a-q/" th:text="#{eav.menu.faq}">FAQ</a></li>
					<li id="menu-contact"><a href="mailto:contact@eavest.com" th:text="#{eav.menu.contacts}">Contact</a></li>
        </ul>
				<div class="slider_jquery slider">
					<div class="slider-container"></div>
				</div>
			</div>
		</div>
	</nav>

	<!-- MAIN CONTENT -->

	<!-- SECTION PORTEFEUILLE -->
	<section class="my-products">
		<div class="container">
			<img src="/img/wallet-vect.png" id="wallet" alt="portefeuille" />
			<h1 th:text="#{wallet.title}">mon portefeuille</h1>
			<p th:unless="${userProducts}" th:text="#{wallet.empty}" id="empty">Vous n'avez pas encore de produits dans votre portefeuille !</p>

			<div class="col-sm-12 col-md-12 wallet-wrapper black-line-1">
				<div class="sous-container wallet-header">
					<div class="panel-group" id="accordion-wallet-1" role="tablist" aria-multiselectable="true">
						<!-- collapse product -->
						<div class="panel panel-default" th:each="product : ${userProducts}">
							<div class="activestate" role="tab">
								<h4 class="accordion-title">
									<a class="prod-list panel-heading" role="button" data-toggle="collapse" data-parent="#accordion-wallet-1" href="#collapseWalletOne"  th:href="'#collapseWallet' + ${productStat.index}" aria-expanded="true">
									<span class="margin panel-title" th:text="${product.label + ' / ' + product.isin}">resonance 1 / FR00196847</span>
									<span th:if="${product.isEavest}"><img class="float-right img-responsive" src="/img/black-logo.png" alt="black-logo" id="eavest"/></span>
									</a>
								</h4>
							</div>
							<div th:id="'collapseWallet' + ${productStat.index}" id="collapseWalletOne" class="panel-collapse collapse collapsed" role="tabpanel" aria-labelledby="headingWalletOne">
								<div class="panel-body">
									<div class="col-md-12 product-accor-title">
										<h3><span th:text="${product.deliver}">société générale</span></h3>
									</div>
									<div class="row product-row">
										<div class="col-sm-2 col-md-2" id="img-product">
											<img src="/img/product.png" th:src="@{/products/{id}/image(id=${product.id})}" alt="produit" id="accor-product"/>
										</div>
										<span class="col-xs-offset-3 hidden-lg hidden-md hidden-sm">
											<a href="#" th:href="@{/user/{id}/removeProduct/?prd={idPrd}(id=${prdUser.id}, idPrd=${product.id})}"><i class="fa fa-trash-o fa-2x" id="product-trash-wallet" aria-hidden="true"></i></a>
										</span>
										<div class="col-sm-3 col-md-3">
											<ul class="list-unstyled">
												<li class="light-blue" th:text="#{undrl.asset}">sous-jacent</span></li>
												<li class="blue-uppercase" th:text="${product.prdSousJacent.label}">euro istoxx&reg; ewc 50</li>
											</ul>
											<ul class="list-unstyled">
												<li class="light-blue" th:text="#{eav.currency}">devise</li>
												<li class="grey-uppercase">eur</li>
											</ul>
											<ul class="list-unstyled">
												<li class="light-blue" th:text="#{prd.status}">statut</li>
												<li class="grey-uppercase" th:text="${product.prdStatus.description}">en cours</li>
											</ul>
										</div>
										<div class="col-sm-4 col-md-4">
											<ul class="list-unstyled">
												<li class="light-blue" th:text="#{prd.strike}">strike</li>
												<li class="blue-uppercase">
													<span th:text="${product.strike}">2964.86
													</span>
													<span th:text="#{wallet.timed.points}">points au
													</span>
													<span th:text="${product.launchDateAsString}">07/09/2016
													</span>
												</li>
											</ul>
											<ul class="list-unstyled">
												<li class="light-blue" th:text="#{prd.remb.barrier}">barrière de rappel</li>
												<li class="grey-uppercase">
													<span th:text="${#numbers.formatDecimal(5555.86456765, 0, 2, 'POINT')}">2964.86
													</span>
													<span th:text="#{eav.pts}">points
													</span>
													/ <span th:if="${product.prdRule}" th:text="${product.prdRule.reimbursementBarrier}">100</span>
													<span th:text="#{percent.strike}">% du strike</span>
												</li>
											</ul>
											<ul class="list-unstyled">
												<li class="light-blue " th:text="#{prd.protec.barrier}">barrière de protection</li>
												<li class="grey-uppercase">
													<span th:text="${#numbers.formatDecimal(2356.12345, 0, 2, 'POINT')}">1778.92
													</span>
													<span th:text="#{eav.pts}">points
													</span>
													/ <span th:if="${product.prdRule}" th:text="${product.prdRule.protectionBarrier}">60
													</span>
													<span th:text="#{percent.strike}">% du strike
													</span>
												</li>
											</ul>
										</div>
										<div class="col-sm-3 col-md-3">
											<ul class="list-unstyled">
												<li class="light-blue" th:text="#{prd.maturity}">maturité</li>
												<li class="grey-uppercase" th:text="${product.dueDateAsLongFormatString}">20 septembre 2024</li>
											</ul>
											<ul class="list-unstyled">
												<li class="light-blue" th:text="#{prd.coupon}">coupon</li>
												<li class="grey-uppercase">
													<span th:text="${product.couponValue}">7.00
													</span>%
												</li>
											</ul>
											<ul class="list-unstyled">
												<li class="light-blue" th:text="#{prd.obs.fqcy}">fréquence d'observation</li>
												<li class="grey-uppercase" th:text="${product.observationFrequency}">annuelle les années 1 à 8</li>
											</ul>
											<a href="#" th:href="@{/user/{id}/removeProduct/?prd={idPrd}(id=${prdUser.id}, idPrd=${product.id})}"><i class="fa fa-trash-o fa-2x hidden-xs" id="product-trash" aria-hidden="true"></i></a>
										</div>
									</div>
									<div class="col-md-7 term-sheet-list grey-uppercase">
										<span class="term-sheet" th:if="${product.hasTermSheet}">
											<a href="#" th:href="@{/products/{id}/tsheet(id=${product.id})}" target="_blank">
												<img src="/img/files.png" alt="document" id="document"/></a>
												<span th:text="#{term.sheet}">term sheet</span>
											</a>
										</span>
										<span class="term-sheet" th:if="${product.hasMarketingDoc}">
											<a href="#" th:href="@{/products/{id}/market(id=${product.id})}" target="_blank">
												<img src="/img/files.png" alt="document" id="document"/></a>
												<span th:text="#{doc.market}">document marketing</span>
											</a>
										</span>
										<span class="term-sheet" th:if="${product.hasFease}">
											<a href="#" th:href="@{/products/{id}/fease(id=${product.id})}" target="_blank">
												<img src="/img/files.png" alt="document" id="document"/></a>
												<span th:text="#{doc.fease}">fease</span>
											</a>
										</span>
									</div>
								</div>
							<!-- hover -->
							<!-- <a class="more-product-2">
								<span><img id="more-product-2" src="/img/more-hover.png" alt="voir-plus" /></span>
							</a> -->
						</div>
					</div>
				</div>
				<div class="add-product">
					<span class="big-blue-letters">
						<a th:if="${prdUser}" href="/products" th:href="@{/admin/users/{id}(id=${prdUser.id})}">
							<img id="add-product" src="/img/show-more.png" class="img-responsive" alt="voir-plus" />
						</a>
						ajouter un produit
					</span>
				</div>
			</div>
		</div>
		<!-- end container -->
		</div>
	</section>
	<section class="products">
		<div class="container">
			<div class="row">
				<!-- PRODUITS REMBOURSES -->
				<div class="col-sm-6 col-md-6 wrapper" id="wallet-products">
					<img src="/img/bell.png" alt="bell" class="img-responsive img-bell" />
					<h1 class="product-title">produits remboursés<span class="min"> depuis 30 jours</span></h1>
					<div class="sous-container">

						<div class="panel-group" id="accordion-1" role="tablist" aria-multiselectable="true">
							<!-- collapse product -->
							<div class="panel panel-default" th:each="refund : ${userRefundProducts}" th:with="nbRefundProducts=${refundStat.count}">
								<div class="activestate" role="tab" th:if="${refundStat.index} le 4">
									<h4 class="accordion-title">
										<a class="panel-heading prod-list" role="button" data-toggle="collapse" data-parent="#accordion-1" href="#collapseOne" th:href="'#collapse' + ${refundStat.index}" aria-expanded="true">
										<span class="margin panel-title" th:text="${refund.label + ' / ' + refund.isin}">resonance 1 / FR00196847</span>
										<span th:if="${refund.isEavest}"><img class="float-right img-responsive" src="/img/black-logo.png" alt="black-logo" id="eavest"/></span>
										</a>
									</h4>
								</div>
								<div class="hidden-refund-product" role="tab" th:if="${refundStat.index} gt 4" style="display:none;">
									<h4 class="accordion-title">
										<a class="panel-heading prod-list" role="button" data-toggle="collapse" data-parent="#accordion-1" href="#collapseOne" th:href="'#collapse' + ${refundStat.index}" aria-expanded="true">
										<span class="margin panel-title" th:text="${refund.label + ' / ' + refund.isin}">resonance 1 / FR00196847</span>
										<span th:if="${refund.isEavest}"><img class="float-right img-responsive" src="/img/black-logo.png" alt="black-logo" id="eavest"/></span>
										</a>
									</h4>
								</div>
								<div th:id="'collapse' + ${refundStat.index}" id="collapseOne" class="panel-collapse collapse collapsed" role="tabpanel" aria-labelledby="headingOne">
									<div class="panel-body">
										<div class="col-md-12 product-accor-title">
											<h3><span th:text="${refund.deliver}" >Société générale</span></h3>
										</div>
										<div class="row prod-accor-row">
											<div class="col-xs-5 col-sm-4 col-md-3">
												<img src="/img/product.png" th:src="@{${refund.imageShortcut}}" alt="produit" id="accor-product"/>
											</div>
											<div class="col-xs-7 col-sm-7 col-md-9">
												<ul class="list-unstyled">
													<li><span class="light-blue" id="cours">cours</span>
														<span class="bold-blue">4.254</span>
													</li>
												</ul>
												<ul class="list-unstyled">
													<li class="light-blue">sous-jacent</li>
													<li class="grey-uppercase" th:text="${refund.prdSousJacent.label}">euro istoxx&reg; ewc 50</li>
													<li class="light-blue">statut</li>
													<li class="grey-uppercase" th:text="${refund.prdStatus.description}">en cours</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- PRODUITS A RAPPELER -->
				<div class="col-sm-6 col-md-6 wrapper padding_left">
					<img src="/img/bell.png" alt="bell" class="img-responsive img-bell" />
					<h1 class="product-title">produits à rappeler<span class="min"> dans les 30 jours</span></h1>
					<div class="sous-container">
						<div class="panel-group" id="accordion-2" role="tablist" aria-multiselectable="true">
							<!-- collapse product -->
							<div class="panel panel-default" th:each="tocall : ${userUpcomingProducts}"  th:with="nbTocallProducts=${tocallStat.count}">
								<div class="activestate" role="tab" th:if="${tocallStat.index} le 4">
									<h4 class="accordion-title">
										<a class="prod-list panel-heading" role="button" data-toggle="collapse" data-parent="#accordion-2" href="#collapse2One"  th:href="'#collapse2' + ${tocallStat.index}" aria-expanded="true">
										<span class="margin panel-title" th:text="${tocall.label + ' / ' + tocall.isin}">resonance 1 / FR00196847</span>
										<span th:if="${tocall.isEavest}"><img class="float-right img-responsive" src="/img/black-logo.png" alt="black-logo" id="eavest"/></span>
										</a>
									</h4>
								</div>
								<div class="hidden-tocall-product" role="tab" th:if="${tocallStat.index} gt 4" style="display:none;">
									<h4 class="accordion-title">
										<a class="prod-list panel-heading" role="button" data-toggle="collapse" data-parent="#accordion-2" href="#collapse2One"  th:href="'#collapse2' + ${tocallStat.index}" aria-expanded="true">
										<span class="margin panel-title" th:text="${tocall.label + ' / ' + tocall.isin}">resonance 1 / FR00196847</span>
										<span th:if="${tocall.isEavest}"><img class="float-right img-responsive" src="/img/black-logo.png" alt="black-logo" id="eavest"/></span>
										</a>
									</h4>
								</div>
								<div th:id="'collapse2' + ${tocallStat.index}" id="collapse2One" class="panel-collapse collapse collapsed" role="tabpanel" aria-labelledby="heading2One">
									<div class="panel-body">
										<div class="col-md-12 product-accor-title">
											<h3><span th:text="${refund.deliver}" >Société générale</span></h3>
										</div>
										<div class="row prod-accor-row">
											<div class="col-xs-5 col-sm-4 col-md-3">
												<img src="/img/product.png" th:src="@{${refund.imageShortcut}}" alt="produit" id="accor-product"/>
											</div>
											<div class="col-xs-7 col-sm-7 col-md-9">
												<ul class="list-unstyled">
													<li><span class="light-blue" id="cours">cours</span>
														<span class="bold-blue">4.254</span>
													</li>
												</ul>
												<ul class="list-unstyled">
													<li class="light-blue">sous-jacent</li>
													<li class="grey-uppercase" th:text="${refund.prdSousJacent.label}">euro istoxx&reg; ewc 50</li>
													<li class="light-blue">statut</li>
													<li class="grey-uppercase" th:text="${refund.prdStatus.description}">en cours</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<!-- hover -->
								<!-- <a class="more-product-2">
									<span><img id="more-product-2" src="/img/more-hover.png" alt="voir-plus" /></span>
								</a> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END SECTION PRODUCTS  -->
	<!--PERFREVIEW -->
	<!-- Disabled since we don't know what to display
	<section class="my-perf-review">
		<div class="container">
			<div class="col-sm-12 col-md-6">
				<div>
					<ul class="list-inline list-unstyled numbers ">
						<li class="square-1" th:text="${month}">10</li>
						<li class="square-2" id="translate" th:text="${year}">16</li>
					</ul>
				</div>
				<h1 class="perf-review">PERF REVIEW</h1>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="col-sm-6 col-md-6 grey-letters">Indices boursiers</th>
							<th class="col-sm-1 col-md-1 special-width"><span th:text="${oneYearPast}">31.10.15</span></th>
							<th class="col-sm-1 col-md-1 special-width"><span th:text="${month}">10</span>.<span th:text="${year}">16</span></th>
							<th class="col-sm-1 col-md-1 special-width">1 an glissant</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="base : ${classicBases}">
							<td class="left-align" th:text="${base.label}">Cac 40</td>
							<td class="grey-letters">4509,26</td>
							<td class="grey-letters"><span>1,37</span>%</td>
							<td class="grey-letters"><span>-7,93</span>%</td>
						</tr>
					</tbody>
					<thead class="display-on-click">
						<tr>
							<th class="col-sm-6 col-md-6 grey-letters">Nouveaux indices</th>
							<th class="col-sm-1 col-md-1 special-width"><span th:text="${oneYearPast}">31.10.15</span></th>
							<th class="col-sm-1 col-md-1 special-width"><span th:text="${month}">10</span>.<span th:text="${year}">16</span></th>
							<th class="col-sm-1 col-md-1 special-width">1 an glissant</th>
						</tr>
					</thead>
					<tbody class="display-on-click">
						<tr th:each="base : ${newBases}">
							<td class="left-align" th:text="${base.label}">Cac Large 60 EWER</td>
							<td class="grey-letters">1780,53</td>
							<td class="grey-letters"><span>-1,18</span>%</td>
							<td class="grey-letters"><span>7,07</span>%</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td><img id="more-perfReview" src="/img/show-more.png" class="img-responsive" alt="voir-plus" />
							<button class="btn" type="button" id="close"><i class="fa fa-times fa-2x"></i></button>
						</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</section>
-->
	<!-- end container -->

	<!-- FOOTER -->
	<footer id="footer">
		<div class="container-fluid">
			<div class="footer-main navbar fixed-bottom">
				<small class="always-left col-xs-12 col-sm-12 col-md-6">
				<span><a href="mailto:contact@eavest.com">contact@eavest.com</a></span><span class="block hidden-sm hidden-md hidden-lg"></span>
				<span><a href="tel:+33142802199">+33 (1) 42 80 21 99</a></span><span class="block hidden-sm hidden-md hidden-lg"></span>
				<span><a href="http://eavest.com/mentions-legales/" class="text-decoration-on">mentions légales</a></span><br /><br /><br />
				<span class="block"></span>
				</small>
				<small class="always-right col-xs-12 col-sm-12 col-md-5">
				Immatriculé à l’Orias n° 14001795 <a href="http://www.orias.fr">(www.orias.fr)</a><br />Conseiller en Investissements Financiers enregistré sous le n° E003753,<br />Membre de l’ANACOFI - Association agréée par l’AMF
			</small>
			</div>
		</div>
	</footer>

	<a class="footer-arrow" id="arrow-position">
		<img src="/img/bottom-arrow-top.png" />
	</a>
	<div id="scroll-back-to-top">
		<span class="scroll-back-to-top-inner"><i class="fa fa-2x fa-chevron-circle-up"></i></span>
	</div>


	<!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="/js/script.js"></script>
	<script src="/js/extra.js"></script>
	<script src="/js/libs/jquery-ui-slider-1.10.4.custom.min.js"></script>
	<script src="/js/libs/jquery.mCustomScrollbar.min.js"></script>

</body>

</html>
